
.reviews-form {
    &__title {
        margin: 70px 0;
        font-size: 4rem;
        color: var(--second-color);;
        text-align: center;
        @include MQ(xs) {
            margin: 70px 0 30px;
            font-size: 2.4rem;
        }
    }
    
    .form__field {
        padding: 0;
    }
    
    .form {
        justify-content: center;
        
        &__textarea {
            width: 100%;
            min-height: 197px;
            padding: 22px;
            background: transparent;
            font-size: 1.1rem;
            color: var(--second-color);
            border: 1px solid var(--three-color);
            border-radius: 0;
            resize: none;
            @include placeholder(var(--second-color), 1rem, normal)
        }
        
        &__interactive {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        
        &__photo-block {
            display: flex;
            align-items: center;
        }
        
        &__buttons {
            display: flex;
            align-items: center;
            @include MQlite(max, sm) {
                margin: 0 0 30px;
            }
            
            @media all and (max-width: 320px) {
                align-items: flex-start;
                flex-direction: column;
            }
        }
        
        &__photo {
            margin-right: 20px;
            background: var(--second-color);
            color: var(--primary-color);
            border-radius: 50%;
            @include size(40px);
            
            &:hover {
                background: var(--three-color-lite);
                cursor: pointer;
                transition: background 0.3s ease-in-out;
            }
            
            &-icon {
                padding: 8px;
                stroke: currentColor;
                stroke-width: 2.5px;
                @include size(100%)
            }
            
            @include MQlite(max, sm) {
                margin: 30px 0;
                @include size(50px);
            }
        }
        
        .submit {
            padding-left: 17px;
            margin: 0;
            flex-basis: 50%;
            
            @include MQlite(max, md) {
                padding: 0;
            }
            @include MQlite(max, sm) {
                flex-basis: unset;
            }
            
            button {
                width: 100%;
                padding: 26px;
                background-color: var(--second-color);
                font-family: inherit;
                font-size: 1.1rem;
                color: var(--primary-color);
                text-transform: uppercase;
                transition: background-color 0.3s ease-in-out;
                
                &:hover {
                    background-color: var(--three-color-lite);
                    cursor: pointer;
                }
            }
        }
    }
}

