.review {
    display: flex;
    width: 100%;
    padding: 40px;
    margin: 20px 0;
    position: relative;
    background-color: var(--three-color);
    color: var(--primary-color);
    transition: color .5s ease, background-color .5s ease;
    
    @include MQlite(max, sm) {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    &__thumbnail {
        margin-right: 30px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 50%;
        @include size(120px);
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
        
        @include MQlite(max, sm) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    
    &__icon {
        transition: fill .5s ease;
        fill: rgba(var(--color-rgba-revert), .5);
        @include size(100%);
    }
    
    &__review-info {
        width: 100%;
    }
    
    &__detail {
        display: flex;
        padding-bottom: 20px;
        align-items: center;
        @include MQlite(max, sm) {
            flex-direction: column;
        }
    }
    
    &__name {
        margin-right: 20px;
        font-size: 1.3rem;
        @include MQlite(max, sm) {
            margin: 0 0 20px;
        }
    }
    
    &__value {
        display: flex;
        max-width: 100px;
        height: 15px;
        @include MQlite(max, sm) {
            max-width: 200px;
            height: 35px;
            margin-top: 10px;
        }
    }
    
    &__star {
        color: var(--primary-color);
        
        &-icon {
            stroke: currentColor;
            fill: currentColor;
            stroke-width: 1px;
            @include size(100%)
        }
        
        &-icon.stroke {
            stroke: currentColor;
            fill: none;
        }
    }
    
    &__text {
        line-height: 1.8;
    }
}