.reviews {
    &__list {
        width: 100%;
    }
    
    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@import "review-form";
@import "review-card";
