.page-404 {
    position: relative;
    top: -116px;
    margin: 0 0 100px;
    @include MQlite(max, md) {
        top: 0;
    }
    &__image {
        width: 50%;
        height: 900px;
        top: 0;
        left: 0;
        background: url('../images/404.jpg') 100% / cover;
        @include MQ(xs) {
            height: 600px;
            width: 100%;
        }
    }
    
    &__info {
        display: flex;
        padding: 40px;
        justify-content: center;
        flex-direction: column;
        @include size(100%);
        @include MQ(xs) {
            padding: 100px 20px;
        }
    }
    
    &__title {
        margin: 0 0 30px;
        font-size: 2.7rem;
        color: var(--second-color);
        @include MQ(md) {
            font-size: 2rem;
        }
        @include MQ(sm) {
            font-size: 1.6rem;
        }
        @include MQ(xs) {
            font-size: 1.8rem;
        }
    }
    
    &__desc {
        color: var(--three-color);
        line-height: 1.4;
        a {
            color: var(--second-color);
        }
    }
}
