+b.card-profile
	if model.options.location
		+b.label
			+e('span').name #{model.options.location}
			+icon('plane', 'label__icon')
	+e.inner
		+e.panel
			if model.options.new
				+e('span').new New
			if !isPageFavorites
				+b.button-favorite._abs
					+icon('cheart', 'button-favorite__icon')
			+e('span').more-info

		+e('a').photo(href=model.url)
			+e('img').image(src=model.photo)

	+e('span').name #{model.name}

	+b.params
		+e.inner
			each item in model.params
				+e.item
					+e('span').label #{item.label}:
					+e('span').value #{item.value}
