+b.sidebar
	+b('form').filter
		+b('span').filter-button._close Фильтр
		+e.content
			+e.block
				+e.title Категории
				+e.slide
					+e.inner
						each category in filter.categories
							+e.item
								+b('label').checkbox
									+e('input').input(name="categories" type="checkbox" value=category.value)
									+e.label #{category.name}
			+e.block
				+e.title Локация модели
				+e.slide
					+e.inner
						+e('input').input.search-input(name="search-location" type="text" placeholder="Поиск по локации")
						+e('ul').scroll.search-list
							each location in filter.locations
								+e('li').item
									+b('label').checkbox
										+e('input').input(name="location" type="checkbox" value=location.value)
										+e.label #{location.name}
			+e.block
				+e.title Пол
				+e.slide
					+e.inner
						each gender in filter.gender
							+e.item
								+b('label').checkbox
									+e('input').input(name="gender" type="checkbox" value=gender.value)
									+e.label #{gender.name}
			+e.block
				+e.title Параметры
				+e.slide
					+e.inner
						+b.sub-block
							+e.title Рост
							+b.rangeSlider(data-name="height" data-min="140" data-max="200" data-step="1")
								+e.labels
									+e('span').label 140
									+e('span').label 200
								+e.inner
						+b.sub-block
							+e.title Грудь
							+b.rangeSlider(data-name="bust" data-min="0" data-max="7" data-step="1")
								+e.labels
									+e('span').label
									+e('span').label
								+e.inner
						+b.sub-block
							+e.title Талия
							+b.rangeSlider(data-name="waist" data-min="45" data-max="70" data-step="1")
								+e.labels
									+e('span').label
									+e('span').label
								+e.inner
						+b.sub-block
							+e.title Бедра
							+b.rangeSlider(data-name="hips" data-min="45" data-max="70" data-step="1")
								+e.labels
									+e('span').label
									+e('span').label
								+e.inner
						+b.sub-block
							+e.title Размер обуви
							+b.rangeSlider(data-name="size-shoe" data-min="34" data-max="42" data-step="1")
								+e.labels
									+e('span').label
									+e('span').label
								+e.inner
		+b.reset-filter
			+e.btn
			+e.label Сбросить все фильтры
