.about {
    display: flex;
    padding-top: 60px;
    flex-direction: column-reverse;
    
    &__content {
        display: flex;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        @include MQlite(min, sm) {
            height: 100%;
        }
    }
    
    @include MQlite(min, sm) {
        flex-direction: row;
    }
    
    &__text-info {
        line-height: 1.5;
        color: var(--second-color);
        @include MQlite(max, sm) {
            margin-top: 30px;
        }
    }
    
    &__image-info {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__videowrap {
        flex-grow: 1;
        
        video {
            width: 100%;
            height: 100%;
            min-height: 300px;
        }
    }
    
}
