.section_contacts {
    padding-bottom: 0;
    overflow: hidden;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 1.7rem;
    color: var(--second-color);
}

.about-container {
    @include MQlite(max, sm) {
        padding: 0;
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.map {
    padding: 0 0 180px;
    position: relative;
    z-index: 1;
    @include size(100%);
    
    &__route {
        display: flex;
        padding: 10px 10px 10px 20px;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        align-items: center;
        background: black(.9);
        font-size: 1em;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity .3s ease;
        
        &:hover {
            opacity: .8;
        }
    }
    
    &__icon {
        margin: 0 0 0 10px;
        fill: $white;
        @include size(36px);
    }
    
    @include MQlite(max, md) {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    
    @include MQ(md) {
        padding: 0 0 200px;
    }
    
    @include MQ(sm) {
        padding: 0 0 200px;
    }
    
    @include MQ(xs) {
        width: auto;
        height: 80vh;
        margin: 0 -20px;
        padding: 0;
    }
}

.contact-form {
    position: relative;
}

.form-decor {
    display: flex;
    width: 70vw;
    height: 241px;
    position: absolute;
    bottom: 200px;
    left: calc(100% - 40px);
    justify-content: space-between;
    flex-direction: column;
    @include MQ(sm) {
        left: 100%;
    }
    
    &::before {
        width: 90%;
        margin-left: 20vw;
    }
    
    &::after {
        width: 100%;
    }
    
    &::before,
    &::after {
        display: block;
        height: 69px;
        background: var(--second-color);
        content: '';
        transition: background .5s ease;
        @include MQ(xs) {
            display: none;
        }
    }
    
    @include MQ(md) {
        width: 70vw;
    }
    
    @include MQ(xs) {
        width: 100%;
        height: 100%;
        padding: 100px 0 0;
        right: 1rem;
        bottom: 0;
    }
}
