
.info-panel {
    display: flex;
    width: 100%;
    margin-top: -140px;
    justify-content: flex-end;
    
    @include MQlite(max, lg) {
        margin-top: 0;
    }
    
    .addresses {
        display: flex;
        height: 120px;
        position: relative;
        z-index: 2;
        justify-content: space-between;
        background-color: var(--primary-color);
        transition: background-color .5s ease;
        @include MQlite(max, lg) {
            height: auto;
            flex-wrap: wrap;
        }
        @include MQlite(min, sm) {
            background-color: var(--second-color);
        }
        
        &__item {
            min-width: 170px;
            max-width: 250px;
            padding: 20px 0;
            @include MQlite(max, sm) {
                min-width: auto;
            }
        }
        
        &__text {
            color: var(--three-color);
            @include MQlite(min, sm) {
                color: var(--primary-color);
            }
        }
        
        &__title {
            margin-bottom: 15px;
            font-size: 1.15rem;
            color: var(--second-color);
            @include MQlite(min, sm) {
                color: var(--primary-color);
            }
        }
        
        &::before,
        &::after {
            display: none;
            width: calc(50vw + 76rem);
            height: 100%;
            position: absolute;
            top: 0;
            background: var(--primary-color);
            content: '';
            transition: background .5s ease;
            @include MQlite(max, lg) {
                display: block;
            }
            @include MQlite(min, sm) {
                background-color: var(--second-color);
            }
        }
        
        &::before {
            right: 100%;
        }
        
        &::after {
            left: 100%;
        }
    }
}



