.employee {
    display: flex;
    margin: 0 0 30px;
    position: relative;
    flex-direction: column;
    
    &__instagram {
        padding: 7px;
        position: absolute;
        z-index: 2;
        top: 20px;
        right: 20px;
        background: black(.2);
        @include size(42px);
    }
    
    &__icon {
        fill: $white;
        @include size(100%);
    }
    
    &__photo {
        width: 100%;
        height: 370px;
        margin: 0 0 20px;
        overflow: hidden;
    }
    
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .3s ease;
        object-fit: cover;
        will-change: transform;
    }
    
    &__name,
    &__info,
    &__item {
        transition: color .5s ease;
    }
    
    &__name {
        margin: 0 0 20px;
        font-size: 1.4rem;
        color: var(--second-color);
        
    }
    
    &__info {
        color: var(--three-color-lite);
    }
    
    &__item {
        display: block;
        margin: 0 0 10px;
        color: var(--three-color-lite);
        text-decoration: none;
    }
    
    &:hover {
        .employee {
            &__image {
                transform: scale(1.2);
            }
        }
    }
}
