
.content {
    position: relative;
    
    &_rubber {
        height: 100%;
    }
    
    &_black {
        &::before {
            width: 100vw;
            height: calc(100% + 100px);
            top: -100px;
            right: 0;
            background: var(--second-color);
            transition: background .5s ease;
            @include pseudo;
            @include MQ(xs) {
                right: -1rem;
            }
        }
    }
    
    &__image-info {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        object-fit: cover;
        @include MQ(xs) {
            padding: 0 0 0 50px;
        }
    }
    
    &__text-info {
        padding: 50px 30px;
        position: relative;
        z-index: 2;
        line-height: 1.6;
        color: var(--second-color);
        transition: color .5s ease;
        
        
        &_prop {
            padding: 50px 30px 140px;
            @include MQ(xs) {
                padding: 0 0 100px;
            }
        }
        
        &_black {
            padding: 50px 60px 100px 0;
            line-height: 1.8;
            color: var(--primary-color-revert);
            transition: color .5s ease;
            @include MQ(xs) {
                padding: 50px 0 100px;
            }
        }
    }
}

.decor-first {
    display: flex;
    width: calc((100vw - 74rem) / 2);
    height: 635px;
    position: absolute;
    right: 100%;
    bottom: 100px;
    justify-content: space-between;
    flex-direction: column;
    
    span,
    &::before,
    &::after {
        display: block;
        width: 100%;
        height: 140px;
        background: var(--second-color);
        content: '';
        transition: background .5s ease;
        @include MQ(xs) {
            height: 100px;
        }
    }
    
    @include MQ(md) {
        width: 50vw;
    }
    
    @include MQ(xs) {
        width: 100%;
        height: 100%;
        padding: 100px 0 0;
        right: 1rem;
        bottom: 0;
    }
}

.decor-second {
    display: flex;
    width: 100%;
    height: calc(100% + 100px);
    padding: 0 0 0 70px;
    position: relative;
    top: -100px;
    justify-content: space-between;
    @include MQlite(max, md) {
        padding: 0;
        justify-content: space-around;
    }
    
    &::before,
    &::after {
        display: block;
        width: 100px;
        height: 100%;
        background: var(--second-color);
        content: '';
        transition: background .5s ease;
    }
}

@import "employee";
