+b.article(class=isBlog ? '_blog' : '_invert')
	+e('img').thumbnail(src=article.thumbnail)
	+e.info
		+e.row
			+e.date #{article.date}
			+e.category Модель
		+b.card-tags
			+e.title Теги:
			+e.inner
				+e.link(href="#") #Модель
				+e.link(href="#") #Egomodels
				+e.link(href="#") #Модель
				+e.link(href="#") #Egomodels
		+e('a').title(href=article.url) #{article.title}
