+b.about
    .col-lg-7.col-md-7.col-sm-6.col-xs-12.first-xs
        +e.content
            +e.text-info
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque nec nunc dolor mi consectetur risus cras rutrum. Placerat turpis cursus fermentum integer. Turpis gravida non purus elit enim sit aliquet. Tempus urna condimentum sit at id lobortis a.
                p Lorem tellus a nibh neque. Euismod mi suspendisse sodales ultricies elit ut interdum scelerisque in. Ultrices non id neque augue in dolor, cras. Non fusce suscipit et tincidunt consectetur libero gravida mi elit. Hac lectus eget eu id risus. Dignissim at nulla aliquet ultrices gravida morbi vulputate massa. Malesuada proin porttitor aliquet malesuada.
                p Aliquet volutpat dolor pretium feugiat ultrices a enim in arcu. Dictumst et consectetur ornare urna, id et pharetra parturient. Elit nec libero non elit. Tempus vitae sed feugiat amet massa lectus. Magnis sem sed porttitor vel. Tempor, tortor eget at vitae sed diam in ac.
                p Egestas nibh in vitae tristique ante accumsan augue. Eget volutpat pharetra ultrices eu eget adipiscing. At nunc vel at odio. Egestas magna quisque morbi leo sit. Sit nunc ullamcorper porta molestie sagittis sed. Laoreet velit dapibus turpis diam fames posuere purus morbi sed. Cras faucibus proin molestie quam eu arcu. Nisi at amet eget tempor ac pellentesque suscipit nibh. Fusce morbi ante vestibulum luctus nullam fusce morbi.
            +e.videowrap
                +b('iframe').video-frame(src="https://www.youtube.com/embed/SN8twgCuheU?modestbranding=1" allowfullscreen)
    .col-lg-5.col-md-5.col-sm-6.col-xs-12
        +e.content._rubber
            +e('img').image-info(src="assets/images/model-contact.jpg")
