+b('form').form
    +e.inputs
        +e.field.name
            +e('input').input(id="name" name="name" type="text" placeholder="Имя")
        +e.field.phone
            +e('input').input(id="tel" name="tel" type="text" placeholder="Телефон")
        +e.field.email
            +e('input').input(id="email" name="email" type="text" placeholder="Email")
        +e.field.message
            +e('textarea').textarea(id="message" name="message" placeholder="Отзыв")
        +e.field.submit
            +e('button').button Отправить сообщение
