+b.info-panel
    .col-lg-6.col-md-12.col-sm-12.col-xs-12
        +b.addresses
            +e.item.email
                +e.title Email:
                +e.text egomodels@gmail.com
            +e.item.phone
                +e.title Телефон:
                +e.text +38 (093) 533 65 89
            +e.item.address
                +e.title Адрес:
                +e.text 48-B, Antonovycha str., Kiev, Ukraine, 02000, м. Олимпийская
