+b.form-body
    +e('span').close
    +e.subtitle Форма обратной связи
    +b('form').form
        +e.field
            +e('label').label(for="abb-name") Фио*
            +e('input').input(id="abb-name" name="abb-name" type="text")
        +e.field
            +e('label').label(for="abb-phone") Телефон*
            +e('input').input(id="abb-phone" name="abb-phone" type="text" placeholder="+380")
        +e.field
            +e('label').label(for="abb-email") Электронная почта*
            +e('input').input(id="abb-email" name="abb-email" type="text")
        +b.select(data-state="")
            +e.title(data-default="Тема письма") Тема письма
            +e.content
                +e('input').input.form__input(id="selectName0" type="radio" name="selectName" checked)
                +e('label').label(for="selectName0") Тема письма
                +e('input').input.form__input(id="selectName1" type="radio" name="selectName")
                +e('label').label(for="selectName1") Модели
                +e('input').input.form__input(id="selectName2" type="radio" name="selectName")
                +e('label').label(for="selectName2") Не модели
                +e('input').input.form__input(id="selectName3" type="radio" name="selectName")
                +e('label').label(for="selectName3") Аренда зала

        +e.field
            +e('label').label(for="abb-message") Сообщение
            +e('textarea').input(id="abb-message" name="abb-message")
        +e.field._center
            +b.checkbox._form
                +e('input').input(id="personal" name="personal" type="checkbox")
                +e('label').label._small(for="personal") Я согласен на&nbsp;
                    a(href="#") обработку персональных данных
        +e.field.submit
            +e('button') Отправить
