.image-about {
    display: block;
    width: 100%;
    height: auto;
    @include MQ(sm) {
        height: 800px;
        background: red;
    }
    
    img {
        display: block;
        width: 100%;
        height: auto;
        @include MQ(sm) {
            object-fit: cover;
            @include size(100%);
        }
    }
}

.info {
    padding: 140px 50px 20px;
    line-height: 1.6;
    
    @include MQ(md) {
        padding: 120px 50px 20px;
    }
    
    @include MQ(sm) {
        padding: 70px 20px 20px;
    }
    
    @include MQ(xs) {
        padding: 20px 0;
    }
    
    &__title {
        margin: 0 0 20px;
        font-size: 4rem;
        color: var(--second-color);
        transition: color .5s ease;
        @include MQ(sm) {
            font-size: 3rem;
        }
        @include MQ(xs) {
            font-size: 2.6rem;
        }
    }
    
    &__content {
        font-size: 1.1rem;
        line-height: 1.8;
        color: var(--second-color);
        transition: color .5s ease;
        
        a {
            color: var(--second-color);
            transition: color .5s ease;
        }
    }
}
