.grid {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(3, 300px);
    
    @include MQ(sm) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 300px);
    }
    
    @include MQ(xs) {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    
    
    &__item {
        position: relative;
        @include MQlite(max, md) {
            padding: 10px;
        }
        
        &:first-child {
            > .article {
                margin: 50px 0 0;
                @include MQlite(max, md) {
                    margin: 0;
                }
            }
        }
        
        &:nth-child(2) {
            grid-area: 1 / 3 / span 1 / span 1;
            @include MQ(sm) {
                grid-area: 1 / 2 / span 1 / span 1;
            }
        }
        
        &:nth-child(3) {
            grid-area: 2 / 2 /  span 1 / span 1;
            @include MQ(sm) {
                grid-area: 2 / 1 /  span 1 / span 1;
            }
            
            &::before {
                width: 100%;
                height: 100%;
                z-index: 1;
                top: -100%;
                left: 0;
                background: var(--primary-color-invert);
                transition: background .5s ease;
                @include pseudo;
                
                @include MQlite(max, md) {
                    display: none;
                }
            }
        }
        
        &:nth-child(4) {
            grid-area: 3 / 3 / span 1 / span 1;
            @include MQ(sm) {
                grid-area: 2 / 2 /  span 1 / span 1;
            }
            
            > .article {
                margin: -50px 0 0;
                
                @include MQlite(max, md) {
                    margin: 0;
                }
            }
            
            &::before {
                width: calc(50vw - 51.6rem / 2);
                height: calc(100% + 100px);
                z-index: 1;
                left: calc(100% - 97px);
                background: var(--primary-color-invert);
                transition: background .5s ease;
                @include pseudo;
                
            }
        }
        
        &:last-child {
            grid-area: 3 / 1 / span 1 / span 1;
            
            @include MQlite(max, md) {
                grid-area: 3 / 1 / 4 / 3;
            }
        }
        
        &_more {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            color: var(--primary-color-invert);
            transition: color .5s ease;
            @include MQlite(max, md) {
                margin: 30px 0 0;
                background: none;
            }
            
            &::before {
                width: calc(50vw - 23rem / 2);
                height: calc(100% + 100px);
                z-index: 1;
                right: calc(100% - 387px);
                bottom: -100px;
                background: currentColor;
                transition: background .5s ease;
                @include pseudo();
                
                @include MQ(md) {
                    width: calc(50vw - 90% / 2);
                    height: calc(100% + 100px);
                    z-index: 1;
                    right: calc(100% - 336px);
                }
                
                @include MQlite(max, md) {
                    display: none;
                }
            }
        }
    }
}
