$breakpoint: 580px;

.instagram-link-area {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background: red;
    user-select: none;
    opacity: 0;
    outline: none;
}

.section_instagram {
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    @media only screen and (max-width: $breakpoint) {
        padding: 5vw 0;
        margin: 10vw 0;
        pointer-events: all;
    }
}

.inst-grid {
    width: 70vw;
    height: 60vw;
    margin: 0 calc(100vw / 20 * 3);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @include MQlite(max, md) {
        width: 100vw;
        margin: 0;
    }
    
    @media only screen and (max-width: $breakpoint) {
        width: 100vw;
        height: 89.444vw;
        margin: 0;
    }
    
    &__video {
        width: 100%;
        height: 100%;
    }
    
    &__link {
        padding: 20px;
    }
    
    &__item {
        display: block;
        position: absolute;
        background: rgba(66, 66, 66, .5);
        background-size: cover !important;
        
        &_text {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            font-size: 2vw;
            color: var(--second-color);
            @media only screen and (max-width: $breakpoint) {
                padding: 30px;
                justify-content: flex-start;
            }
            @media all and (min-width: 581px) and (max-width: 992px) {
                font-size: 2rem;
            }
            @include MQ(xs) {
                font-size: 3.5rem;
            }
        }
    }
    
    &__layer {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        will-change: transform;
        
        @include MQlite(max, md) {
            top: 13vw;
        }
        
        @media only screen and (max-width: $breakpoint) {
            top: 35vw;
        }
        
        &:nth-child(1) {
            .inst-grid__item {
                width: 27.2vw;
                height: 26.8vw;
                top: 20vw;
                left: 18.8vw;
                @include MQlite(max, md) {
                    width: 45vw;
                    height: 40vw;
                    top: 31.6vw;
                    left: 30vw;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 55vw;
                    height: 48vw;
                    top: 30vw;
                    left: 20vw;
                }
            }
        }
        
        &:nth-child(2) {
            .inst-grid__item {
                width: 8.6vw;
                height: 8vw;
                top: 10.2vw;
                left: 34.8vw;
                
                @include MQlite(max, md) {
                    width: 17vw;
                    height: 14vw;
                    top: 14vw;
                    left: 55vw;
                }
                
                @media only screen and (max-width: $breakpoint) {
                    width: 30vw;
                    height: 26vw;
                    top: 17vw;
                    left: 9vw;
                    filter: blur(4px);
                }
            }
            
            @media only screen and (max-width: $breakpoint) {
                z-index: -2
            }
        }
        
        &:nth-child(3) {
            .inst-grid__item {
                width: 8.8vw;
                height: 8.8vw;
                top: 21.3vw;
                left: 8.7vw;
                @include MQlite(max, md) {
                    width: 15vw;
                    height: 15vw;
                    top: 34vw;
                    left: 12.5vw;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 40vw;
                    height: 40vw;
                    top: -10vw;
                    left: -20vw;
                }
            }
        }
        
        &:nth-child(4) {
            .inst-grid__item {
                width: 14.7vw;
                height: 12vw;
                top: 6.7vw;
                left: 18.8vw;
                @include MQlite(max, md) {
                    width: 22.5vw;
                    height: 22.5vw;
                    left: 30vw;
                }
                
                @media only screen and (max-width: $breakpoint) {
                    width: 36vw;
                    height: 31vw;
                    top: 69vw;
                    left: 9vw;
                    filter: blur(4px);
                }
            }
            
            @media only screen and (max-width: $breakpoint) {
                z-index: -2
            }
        }
        
        &:nth-child(5) {
            z-index: 1;
            
            .inst-grid__item {
                width: 5vw;
                height: 5vw;
                top: 21.2vw;
                left: 47.3vw;
                background: var(--second-color);
                transition: opacity 0.3s ease, background .5s ease;
                @include MQlite(max, md) {
                    width: 12vw;
                    height: 12vw;
                    top: 34vw;
                    left: 77.5vw;
                    svg {
                        @include size(100%);
                    }
                }
                
                &:hover {
                    opacity: .7;
                }
                
                @media only screen and (max-width: $breakpoint) {
                    width: 25vw;
                    height: 25vw;
                    top: 5vw;
                    right: 0;
                    left: unset;
                }
            }
            
            a {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            
            svg {
                transition: fill .5s ease;
                fill: var(--primary-color-rgba);
                @include size(100%);
            }
        }
        
        &:nth-child(6) {
            .inst-grid__item {
                width: 17.2vw;
                height: 16vw;
                top: 27.5vw;
                left: 47.3vw;
                @include MQlite(max, md) {
                    width: 22.5vw;
                    height: 18vw;
                    top: 48.5vw;
                    right: 0;
                    left: unset;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 40vw;
                    height: 30vw;
                    top: 78vw;
                    left: 75vw;
                }
            }
        }
        
        &:nth-child(7) {
            .inst-grid__item {
                width: 12.3vw;
                height: 14.3vw;
                top: 31.5vw;
                left: 5.2vw;
                @include MQlite(max, md) {
                    width: 27.5vw;
                    height: 27.5vw;
                    top: 51.5vw;
                    left: 0;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 40vw;
                    height: 35vw;
                    top: 55vw;
                    left: -22vw;
                }
            }
        }
        
        &:nth-child(8) {
            .inst-grid__item {
                width: 5.8vw;
                height: 5.8vw;
                bottom: 6vw;
                left: 18.8vw;
                @include MQlite(max, md) {
                    width: 12vw;
                    height: 12vw;
                    bottom: -26vw;
                    left: 30vw;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 27vw;
                    height: 26vw;
                    top: 59vw;
                    right: 6vw;
                    left: unset;
                    filter: blur(4px);
                }
            }
            
            @media only screen and (max-width: $breakpoint) {
                z-index: -2
            }
        }
        
        &:nth-child(9) {
            .inst-grid__item {
                width: 7.5vw;
                height: 7.5vw;
                bottom: 7.7vw;
                left: 47.3vw;
                @include MQlite(max, md) {
                    width: 15vw;
                    height: 15vw;
                    top: 69vw;
                    left: 77.5vw;
                }
                @media only screen and (max-width: $breakpoint) {
                    width: 27.5vw;
                    height: 25vw;
                    top: 85vw;
                    left: 38vw;
                }
            }
        }
        
        &:nth-child(10) {
            .inst-grid__item {
                width: 12.5vw;
                height: 12vw;
                top: 6.7vw;
                left: 5vw;
                
                @media all and (min-width: 581px) and (max-width: 992px) {
                    width: 27.5vw;
                    height: 22vw;
                    top: 6.7vw;
                    left: 0;
                }
                
                @media only screen and (max-width: $breakpoint) {
                    width: 100%;
                    height: 12vw;
                    top: -30.3vw;
                    left: 0;
                }
            }
        }
    }
}

.grid-container {
    width: 100vw;
    height: 200vh;
    position: relative;
    
    &.is-mobile {
        @media only screen and (max-width: $breakpoint) {
            height: 150vw;
        }
        @include MQlite(max, md) {
            height: 110vw;
        }
        @include MQlite(min, md) {
            height: 55vw;
        }
    }
}

.s-instagram-scroller {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @media only screen and (max-width: $breakpoint) {
        display: none;
    }
}