.section_video {
    padding: 0;
    z-index: 2;
    overflow: hidden;
}


.video-badge {
    display: block;
    position: absolute;
    z-index: 5;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    will-change: transform;
    
    @include size(215px);
    
    &::before,
    &::after {
        @include pseudo()
    }
    
    &::before {
        background: url("../icons/source/play-text.svg") 100%;
        animation: rotate 4s infinite linear;
        @include size(100%);
    }
    
    &::after {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: black;
        background: url("../icons/source/play.svg") center no-repeat;
        transition: transform .3s ease;
        @include size(38px);
    }
    
    &:hover {
        &::after {
            transform: scale(1.2);
        }
    }
    
    .is-video-playing & {
        @include size(140px);
        background: $white;
        border-radius: 50%;
        &:before,
        &:after {
            width: 30px;
            height: 4px;
            margin: 0;
            top: calc(50% - 2px);
            left: calc(50% - 15px);
            background: #000;
            transform-origin: 50% 50%;
            animation: none;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        
        &:after {
            transform: rotate(-45deg);
        }
    }
    
}

.video {
    width: 100%;
    height: 100vh;
    position: relative;
    
    
    @include MQ(xs) {
        height: 500px;
    }
    
    &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        background: rgba(#131313, 0.3);
        content: '';
        pointer-events: none;
    }
    
    &__poster {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        background: url("../images/video-poster.jpg") center fixed;
        background-size: cover;
        object-fit: cover;
        @include size(100%);
        
        @include MQlite(max, md) {
            background-attachment: scroll;
        }
    }
    
    &__video {
        visibility: hidden;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transition: opacity 0.15s, visibility 0.15s;
        pointer-events: none;
        opacity: 0;
        object-fit: cover;
        
        .is-video-playing & {
            visibility: visible;
            opacity: 1;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
