.category-selection {
    display: flex;
    margin: auto;
    position: relative;
    justify-content: flex-end;
    background: url('../images/welcome.jpg') center;
    background-size: cover;
    @include size(625px);
    
    @media all and (max-width: 1440px) {
        @include size(500px);
    }
    
    @include MQ(xs) {
        height: calc(100vh - 170px);
        max-height: 715px;
    }
    
    &::before {
        top: 0;
        right: 0;
        background: black(.7);
        @include size(100%);
        @include pseudo;
    }
    
    @include MQ(sm) {
        width: 70%;
        height: 525px;
    }
    
    @include MQ(xs) {
        width: 100%;
        justify-content: center;
    }
    
    &__info {
        display: flex;
        width: 50%;
        height: 100%;
        position: relative;
        z-index: 2;
        right: -135px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include MQ(xs) {
            width: auto;
            padding: 30px;
            right: 0;
            align-items: flex-start;
        }
    }
    
    &__title {
        margin: 0 0 30px;
        font-size: 6rem;
        color: var(--three-color);
        transition: color .5s ease;
        @include MQ(sm) {
            font-size: 4.5rem;
        }
        @include MQ(xs) {
            font-size: 5rem;
        }
    }
    
    &__list {
        li {
            margin: 0 0 10px;
            
            a {
                font-size: 1.3rem;
                color: var(--three-color);
                transition: color .5s ease;
            }
        }
    }
}
