mixin breadcrumbs(cat, page)
	+b('ul').breadcrumbs
		+e.item
			+e('a').link(href="") Главная
		if cat !== false
			+e.item /
			+e.item
				+e.link(href="category.html") #{cat}
		+e.item /
		+e.item #{page}