mixin icon(name,mod)
	- mod = mod || '';
	svg(class=mod)
		use(xlink:href="assets/icons/sprite.svg#" + name)

mixin icon-one(name,mod)
	- mod = mod || '';
	svg(class=mod)
		use(xlink:href="assets/icons/" + name +".svg")
