
.date-nav {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    
    &__current {
        width: 360px;
        max-width: 100%;
        margin: 0 30px;
        font-size: 1.8rem;
        color: var(--second-color);
        text-align: center;
    }
    
    &__prev,
    &__next {
        background: var(--second-color);
        cursor: pointer;
        transition: opacity .5s ease;
        mask: url("../icons/source/arrow.svg") center / 100% no-repeat;
        @include size(22px);
        
        &.disabled {
            pointer-events: none;
            opacity: .2;
        }
    }
    
    &__prev {
        transform: rotate(90deg);
    }
    
    &__next {
        transform: rotate(-90deg);
    }
}

.calendar {
    &__title {
        font-size: 2rem;
        color: var(--second-color-invert);
    }
    
    &__scroll {
        @include size(100%);
        @include MQlite(max, md) {
            overflow: auto;
        }
        @include MQ(xs) {
            max-width: 100vw;
        }
        
    }
    
    &__inner {
        display: flex;
        min-width: 575px;
        height: 100%;
        padding: 30px 30px 30px 0;
        position: relative;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        background: rgba(var(--color-rgba), .07);
        transition: background .5s ease;
        
        &::before {
            width: 50%;
            height: 100%;
            top: 0;
            right: 100%;
            background: rgba(var(--color-rgba), .07);
            transition: inherit;
            @include pseudo;
            @include size(100%);
        }
    }
    
    &__days-label {
        display: flex;
        width: calc(100% - 100px);
        padding: 5px;
    }
    
    &__hours-label {
        display: flex;
        width: 100px;
        padding: 5px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--second-color);
        transition: color .5s ease;
        
        span {
            display: flex;
            height: 40px;
            margin: 5px 0;
            justify-content: center;
            align-items: center;
        }
    }
    
    &__week-grid {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    
    &__week-days {
        display: flex;
        width: 100%;
        padding: 0 5px;
        flex-direction: row;
    }
    
    &__day,
    &__day-label {
        display: flex;
        width: 14.285%;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--second-color);
    }
    
    &__day {
        transition: color .5s ease;
    }
    
    &__day-label {
        height: 40px;
        font-size: 1.2rem;
        text-align: center;
        @include MQlite(max, md) {
            font-size: 1rem;
        }
        
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            @include size(100%);
        }
        
        &_active {
            span {
                background: var(--second-color);
                color: var(--primary-color);
            }
        }
    }
    
    &__hour {
        display: block;
        width: 100%;
        height: 40px;
        margin: 5px 0;
        background: $white;
        cursor: pointer;
        transition: transform .3s ease, box-shadow .3s ease;
        box-shadow: 0 1px 3px black(.1);
        
        &.active {
            background: var(--second-color);
            border: none;
            
            &::before {
                display: none;
                content: none;
            }
        }
        
        &.disabled {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background: rgba(var(--color-rgba-white), 1);
            border: none;
            pointer-events: none;
            
            &::before {
                display: block;
                background: rgba(var(--color-rgba-invert), .4);
                content: '';
                mask: url('../icons/source/disabled.svg') center / 100% no-repeat;
                @include size(26px);
            }
        }
        
        &:active {
            transform: scale(.9);
            box-shadow: 0 0 1px black(.1);
        }
    }
    
    &__bottom {
        display: flex;
        width: 100%;
        padding: 20px 5px;
    }
    
    &__form {
        padding: 40px 0 40px 40px;
        position: relative;
        background: var(--second-color);
        transition: background .5s ease;
        @include size(100%);
        
        @media all and (max-width: 1300px) {
            padding: 40px;
        }
        
        &::before {
            width: calc((100vw - 50rem) / 2);
            height: 100%;
            top: 0;
            left: 100%;
            background: var(--second-color);
            transition: inherit;
            @include pseudo;
        }
    }
}


.calendar-info {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    &__item {
        display: flex;
        width: 25%;
        padding: 0 20px 20px 0;
        align-items: center;
        @include MQ(md) {
            width: 33.333%;
        }
        @include MQ(sm) {
            width: 33.333%;
        }
        @include MQ(xs) {
            width: 50%;
        }
        
    }
    
    &__icon {
        margin: 0 10px 0 0;
        @include size(26px);
    }
    
    &__label {
        font-size: 1.1rem;
        color: var(--second-color);
        transition: color .5s ease;
    }
}

.state {
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 1px 3px black(.1);
    @include size(100%);
    
    &_select {
        background: var(--second-color);
    }
    
    &_disabled {
        padding: 2px;
        background: green;
        background: rgba(var(--color-rgba-white), 1);
        
        &::before {
            display: block;
            background: #949999;
            content: '';
            mask: url('../icons/source/disabled.svg') center / 100% no-repeat;
            @include size(100%);
        }
    }
}

.total-price {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    font-size: 2rem;
    color: var(--second-color);
    transition: color .5s ease;
    
    &__label {
        margin: 0 5px 0 0;
    }
}

.marker {
    background: rgba(var(--color-rgba-white), 1);
}

.marker2 {
    background: rgba(var(--color-rgba-white), 1);
    border: 2px solid rgba(var(--color-rgba-invert), .6);
}

.marker3 {
    background: $white;
    border: 2px solid $black;
}

.marker4 {
    background: $gray-500;
}

.marker5 {
    background: $gray-500;
    border: 2px solid $black;
}

.marker6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    
    &:before {
        display: block;
        background: $black;
        border-radius: 50%;
        content: '';
        @include size(8px);
    }
}

.marker7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-500;
    
    &:before {
        display: block;
        background: $white;
        border-radius: 50%;
        content: '';
        @include size(8px);
    }
}