.studio-info {
    padding: 60px 0;
    position: relative;
    background: var(--second-color);
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--primary-color-revert);
    
    @include MQlite(max, md) {
        padding: 60px 20px;
        margin: 0 -1rem;
    }
    
    &::before,
    &::after {
        height: 100%;
        top: 0;
        background: var(--second-color);
        
        @include pseudo;
        @include MQlite(max, md) {
            display: none;
        }
    }
    
    &::before {
        width: 50vw;
        right: 100%;
    }
    
    &::after {
        width: 100%;
        left: 100%;
    }
    
    p {
        &:last-child {
            margin: 0;
        }
    }
}

.black-line {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--second-color);
}

.video-frame {
    display: block;
    width: calc(100% - 65px);
    height: 270px;
    margin: 52px 0 0;
    position: relative;
    z-index: 2;
    background: url('../images/video-img.jpg') center / cover;
    transition: filter .3s ease;
    object-fit: cover;
    filter: grayscale(1);
    
    @include MQlite(max, md) {
        width: 100%;
        margin: 0;
    }
    
    @include MQ(sm) {
        height: 400px;
    }
    
    &:hover {
        filter: grayscale(0);
    }
}

.gallery {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: 270px;
    
    &__item {
        display: block;
        width: 100%;
        font-size: 3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        will-change: transform;
        
        &:nth-child(6n - 4) {
            grid-row-end: span 1;
        }
        
        &:nth-child(6n - 5),
        &:nth-child(6n - 3),
        &:nth-child(6n - 2) {
            grid-row-end: span 2;
        }
        
        &:active {
            transform: scale(0.98);
        }
    }
    
    &__image {
        display: block;
        transition: filter .3s ease;
        object-fit: cover;
        filter: grayscale(1);
        @include size(100%);
        
        &:hover {
            filter: grayscale(0);
        }
    }
}

.add-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    @include size(100%);
    
    &__item {
        margin: 0 0 10px;
        color: var(--second-color);
        text-decoration: underline;
        transition: color .5s ease;
        
        &:hover {
            text-decoration: none;
        }
    }
}

@import "calendar";
