.model {
    &__info {
        @include MQ(sm) {
            padding: 50px 0;
        }
        @include MQlite(max, sm) {
            padding: 30px 0 0;
        }
    }
    
    &__subtitle {
        font-size: 1.15rem;
        color: rgba(var(--color-rgba-invert), .3);
        transition: color .5s ease;
        @include MQlite(max, md) {
            margin: 0 0 30px;
        }
    }
    
    &__sub-panel {
        display: flex;
        margin: 0 0 100px;
        justify-content: space-between;
        align-items: center;
        @include MQlite(max, md) {
            align-items: flex-start;
            flex-direction: column-reverse;
        }
    }
    
    &__social {
        display: flex;
        padding: 100px 0;
        @include MQlite(max, sm) {
            padding: 0 0 30px 0;
            justify-content: center;
        }
    }
    
    &__hero {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        
        @include MQ(xs) {
            width: auto;
            margin: 0 -1rem;
            position: relative;
        }
        
        &:before {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0) 60.94%);
            content: '';
            @include MQ(xs) {
                display: none;
            }
        }
        
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    &__params {
        display: flex;
        margin: 100px 0 0;
        flex-wrap: wrap;
        @include MQlite(max, sm) {
            align-items: center;
            flex-direction: column;
        }
        @include MQ(xs) {
            margin: 40px 0 20px;
        }
        
        &-item {
            width: 20%;
            padding-bottom: 30px;
            @include MQ(sm) {
                width: 33.333%;
            }
            @include MQlite(max, sm) {
                width: 100%;
                text-align: center;
            }
        }
        
        &-label {
            color: var(--second-color);
            text-transform: capitalize;
            transition: color .5s ease;
        }
        
        &-value {
            color: var(--second-color);
            transition: color .5s ease;
        }
    }
}


.model-video {
    position: relative;
    @include size(100%);
    @include MQ(xs) {
        height: 400px;
    }
    
    &::before,
    &::after {
        z-index: 3;
        transition: all .3s ease;
        @include pseudo;
    }
    
    &::before {
        @include size(100%);
        background: var(--primary-color);
    }
    
    
    &.loaded {
        &::before,
        &::after {
            visibility: hidden;
            opacity: 0;
        }
    }
    
    &__player {
        object-fit: cover;
        object-position: center;
        @include size(100%);
        
    }
    
    &__mute {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 30px;
        cursor: pointer;
        @include size(30px);
        
        &::before,
        &::after {
            background: white;
            transition: all .3s ease;
            @include pseudo;
            @include size(100%)
        }
        
        &::before {
            transform: translateY(0);
            opacity: 1;
            mask: url("../icons/source/volume_off.svg") center / 100%;
        }
        
        &::after {
            transform: translateY(40px);
            opacity: 0;
            mask: url("../icons/source/volume_on.svg") center / 100%;
        }
        
        &.active {
            &::after {
                transform: translateY(0) scale(1);
                opacity: 1;
            }
            
            &::before {
                transform: translateY(-40px);
                opacity: 0;
            }
        }
    }
    
    &__control {
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 80px;
        cursor: pointer;
        @include size(30px);
        
        &::before,
        &::after {
            background: $white;
            content: '';
            transition: all .3s ease;
            @include size(100%);
            @include pseudo;
        }
        
        &::before {
            transform: translateY(0);
            opacity: 1;
            mask: url("../icons/source/pause.svg") center / 65% no-repeat;
            
        }
        
        &::after {
            transform: translateY(40px);
            opacity: 0;
            mask: url("../icons/source/play_v.svg") center / 90%;
        }
        
        &.active {
            &::after {
                transform: translateY(0) scale(1);
                opacity: 1;
            }
            
            &::before {
                transform: translateY(-40px);
                opacity: 0;
            }
        }
    }
}

.model-social {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    
    @include MQ(xs) {
        margin: 20px 0;
        justify-content: center;
        flex-direction: row;
    }
    
    &__item {
        padding: 10px;
        margin: 7px 0;
        background: var(--second-color);
        border-radius: 50%;
        transition: background .5s ease, opacity .3s ease;
        @include size(46px);
        @include MQ(xs) {
            margin: 0 7px;
        }
        
        &:hover {
            opacity: .6;
        }
    }
    
    &__icon {
        transition: fill .5s ease;
        fill: var(--primary-color-revert);
        @include size(100%);
    }
}

.add-panel {
    display: flex;
    align-items: center;
    
    &__link {
        display: block;
        margin: 0 0 0 15px;
        font-size: 1.4rem;
        color: var(--second-color);
        text-decoration: none;
        text-transform: uppercase;
    }
}

.compcard-link {
    padding: 12px 30px;
    background: var(--second-color);
    font-size: .9rem;
    color: var(--primary-color-revert);
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease, background .5s ease, opacity .3s ease;
    box-shadow: 0 2px 5px black(.2);
    
    &:hover {
        opacity: .7;
    }
}

.button-model-group {
    display: flex;
    align-items: center;
}


.model-localtion {
    display: flex;
    margin: 0 0 28px;
    align-items: center;
    color: var(--second-color);
    transition: color .5s ease;
    
    &__icon {
        width: 36px;
        height: 36px;
        padding: 5px;
        fill: currentColor;
    }
    
    &__name {
        margin: 0 0 0 13px;
        font-size: 1.2rem;
        color: currentColor;
    }
}