.tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.6;
    text-transform: uppercase;
    
    &__nav {
        display: flex;
        max-width: 500px;
        position: relative;
        align-self: center;
        
        &::after,
        &::before {
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            background: var(--second-color);
            content: "";
        }
        
        &::before {
            right: 100%;
        }
        
        &::after {
            left: 100%;
        }
        
        li {
            display: block;
            padding: 20px 40px;
            position: relative;
            z-index: 2;
            background: var(--second-color);
            font-size: 1.6rem;
            color: var(--primary-color);
            transition: transform 0.5s ease-in-out;
            @include MQlite(max, sm) {
                padding: 20px;
                font-size: 1rem;
            }
            
            &.active {
                background: var(--primary-color);
                color: var(--second-color);
            }
            
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    
    &__inner {
        padding: 70px 1rem;
    }
    
    &__item {
        display: none;
        
        &.active {
            display: block;
        }
    }
}

.model-gallery {
    display: block;
    overflow: hidden;
    
    &.disabled {
        user-select: none;
        pointer-events: none;
    }
    
    &__item {
        display: block;
        width: 33.333%;
        font-size: 3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        will-change: transform;
        padding: 2px;
        
        @include MQlite(max, md) {
            width: 50%;
        }
    }
    
    &__image {
        display: block;
        max-width: 100%;
        transition: transform .5s ease;
        object-fit: cover;
        @include size(100%);
        
        &:active {
            transform: scale(0.98);
        }
        
        .photo-tabs__photos & {
            object-position: top;
        }
    }
}

.gutter {
    width: 4px;
}
