+b('section').section._our-team
	.container
		+e('h2').title Наша команда
		.row
			each item, index in employees
				.col-lg-3.col-md-4.col-sm-6.col-xs-12
					+b.employee
						+e('a').instagram(href="#")
							+icon('instagram-stroke', 'employee__icon')
						+e.photo
							+e('img').image(src=item.photo alt=item.name)
						+e.name #{item.name}
						+e.info
							each param, index in item.params
								+e.item #{param}
