+b('section').section._contrast
	.container
		+e.title Коментарии
		+b.comments
			+e.item
				+b.comment
					+e('img').photo(src="assets/images/avatar.jpg")
					+e.inner
						+e.top
							+e.name Stasia Smerechevska
							+e.date 28 марта  |  10:58
							+b.like
								+e('span').count 4
								+icon('like', 'like__icon')
						+e.content Could not agree more with your last statement that Bitcoin has no use case. Have you looked at NANO mate? The fastest coin (< 0,5 sec), feeless, green, scalable, secure, more decentralised over time. It's all Bitcoin should have been.
						+e.reply Ответить
			+e.item
				+b.comment
					+e('img').photo(src="assets/images/avatar.jpg")
					+e.inner
						+e.top
							+e.name Stasia Smerechevska
							+e.date 28 марта  |  10:58
							+b.like
								+e('span').count 4
								+icon('like', 'like__icon')
						+e.content Could not agree more with your last statement that Bitcoin has no use case. Have you looked at NANO mate? The fastest coin (< 0,5 sec), feeless, green, scalable, secure, more decentralised over time. It's all Bitcoin should have been.
						+e.reply Ответить
				+e.sub-item
					+b.comment
						+e('img').photo(src="assets/images/avatar.jpg")
						+e.inner
							+e.top
								+e.name Stasia Smerechevska
								+e.date 28 марта  |  10:58
								+b.like
									+e('span').count 4
									+icon('like', 'like__icon')
							+e.content Could not agree more with your last statement that Bitcoin has no use case. Have you looked at NANO mate? The fastest coin (< 0,5 sec), feeless, green, scalable, secure, more decentralised over time. It's all Bitcoin should have been.
							+e.reply Ответить
