+b('section').section._related-posts
	.container
		+e.title._inversion Похожие новости
		.row
			each article, index in blog
				if index < 3
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						include ../blog/article-card
