+b('section').section._subscribe
	+b('form').subscribe-form
		.container
			.row
				.col-lg-4.col-md-4.col-sm-12.col-xs-12
					+e.title Подписаться на новости
				.col-lg-4.col-md-4.col-sm-12.col-xs-12.col-center
					+e('input').input(name="email" placeholder="Электронная почта")
				.col-lg-4.col-md-4.col-sm-12.col-xs-12.col-center
					+e('button').button Подписаться
