.author-card {
    display: flex;
    align-items: center;
    
    &__photo {
        margin: 0 20px 0 0;
        border-radius: 50%;
        object-fit: cover;
        @include size(60px);
    }
    
    &__label {
        margin: 0 0 10px;
        color: rgba(var(--color-rgba-revert), .4);
        transition: color .5s ease;
    }
}
