.comments {
    display: flex;
    margin: 0 0 50px;
    align-items: center;
    flex-direction: column;
    
    &__inner {
        width: 100%;
    }
    
    &__item {
        margin: 0 0 50px;
        
        .reviews & {
            margin: 0;
        }
        
        &:last-child {
            margin: 0;
        }
    }
    
    &__sub-item {
        margin: 50px 0 0 90px;
        
        @include MQ(xs) {
            margin: 50px 0 0 20px;
        }
    }
    
    
    &__item,
    &__sub-item {
        visibility: hidden;
        transition: opacity .5s ease, transform .5s ease, visibility .5s ease;
        transform: translateY(50px);
        opacity: 0;
        
        &.load {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.comment {
    display: flex;
    align-items: flex-start;
    
    &__top {
        display: flex;
        margin: 0 0 10px;
        align-items: flex-end;
        color: var(--second-color);
        @include MQ(xs) {
            flex-wrap: wrap;
        }
    }
    
    &__photo {
        display: block;
        margin: 0 20px 0 0;
        background: rgba(var(--color-rgba-revert), .5);
        border-radius: 50%;
        transition: background .5s ease;
        @include size(70px);
    }
    
    &__icon {
        transition: fill .5s ease;
        fill: rgba(var(--color-rgba-invert), .3);
        @include size(100%);
    }
    
    &__name {
        margin: 0 40px 0 0;
        font-size: 1.2rem;
        font-weight: 800;
    }
    
    &__date {
        margin: 0 40px 0 0;
        font-size: 1.2rem;
    }
    
    &__content {
        margin: 0 0 10px;
        line-height: 2;
        color: var(--second-color);
    }
    
    &__inner {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    
    &__reply {
        color: var(--three-color);
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    
}


.like {
    display: flex;
    align-items: flex-end;
    
    &__count {
        margin: 0 10px 0 0;
        font-size: 1.3rem;
    }
    
    &__icon {
        cursor: pointer;
        fill: rgba(var(--color-rgba-invert), .2);
        @include size(28px);
    }
    
    &.active {
        .like__icon {
            fill: rgba(var(--color-rgba-invert), 1);
        }
    }
    
}


.comments-form {
    width: 100%;
    
    
    &__field {
        @include MQ(xs) {
            margin: 0 0 20px;
        }
        
        &_photo {
            width: 58px;
            height: 58px;
            flex-shrink: 0;
        }
        
        &_name {
            width: 300px;
            flex-shrink: 0;
            
        }
        
        &_comment {
            width: 100%;
        }
        
        &_button {
            width: 58px;
            height: 50px;
            flex-shrink: 0;
        }
    }
    
    &__input,
    &__textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 62px;
        min-height: 62px;
        padding: 20px;
        line-height: 1.6;
        @include placeholder($gray-400, 1rem, normal);
    }
    
    &__button {
        padding: 10px;
        background: none;
        @include size(62px);
    }
    
    &__button-icon {
        transition: fill .5s ease;
        fill: var(--second-color);
        @include size(100%);
    }
    
    &__message {
        display: block;
        width: 100%;
        margin: 20px 0 0;
        font-size: 1.1rem;
        color: var(--second-color);
        text-align: center;
    }
}

.reply-to {
    margin: 20px 0 0;
    color: $gray-600;
    
    &__close {
        margin: 0 0 0 10px;
        color: $gray-900;
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.count-comments {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -38px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 50%;
    transition: border-color .5s ease, color .5s ease;
}