.page-thumbnail {
    display: block;
    width: 100%;
    height: 600px;
    margin: -490px 0 20px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    @include MQlite(max, md) {
        margin: 0 0 20px;
    }
}


.content {
    line-height: 2;
    color: var(--second-color);
    transition: color .5s ease;
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 20px;
        border-radius: 3px;
    }
    
    blockquote {
        margin: 0 0 20px;
        color: var(--three-color);
        
        p:last-child {
            margin: 0;
        }
    }
    
    p {
        margin: 0 0 20px;
    }
    
}
