.share {
    display: flex;
    justify-content: flex-start;
    
    &__item {
        padding: 10px;
        margin: 0 20px 0 0;
        background: rgba(var(--color-rgba-revert), .5);
        border-radius: 50%;
        transition: background .5s ease, opacity .3s ease;
        @include size(42px);
        
        &:hover {
            opacity: .6;
        }
    }
    
    &__icon {
        transition: fill .5s ease;
        fill: var(--second-color);
        @include size(100%);
    }
}
