.subscribe-form {
    &__title {
        padding: 0 20px 0;
        font-size: 3rem;
        color: $white;
        @include MQ(xs) {
            margin: 0 0 20px;
            font-size: 1.6rem;
            text-align: center;
        }
    }
    
    &__input {
        width: 100%;
        padding: 25px;
        font-family: $font-primary;
        font-size: 1.2rem;
        @include MQ(xs) {
            margin: 0 0 20px;
        }
    }
    
    &__button {
        width: 100%;
        padding: 23px 25px;
        background: #1a1a1a;
        font-family: $font-primary;
        font-size: 1.4rem;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
}
