.tag {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        margin: 0 10px 10px 0;
    }
    
    &__link {
        color: rgba(var(--color-rgba-revert), .3);
        text-decoration: none;
        transition: color .5s ease;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
