.post-info {
    display: flex;
    margin: 20px 0 0;
    flex-direction: column;
    
    &__title {
        margin: 0 0 15px;
        color: rgba(var(--color-rgba-revert), .5);
         transition: color .5s ease;
    }
    
    &__item {
        padding: 0 0 20px;
        margin: 0 0 20px;
        color: rgba(var(--color-rgba-revert), .5);
        border-bottom: 1px solid rgba(var(--color-rgba-revert), .1);
        transition: border-color .5s ease, color .5s ease;
        
        &:last-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@import "share";
@import "author";
@import "tag";
@import "content";
@import "comments";
@import "subscribe";
