include helpers/index

-let is404 = true;

-let page = 'catalog';
-let title = 'Ego Models | Page About US';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b.container
				+b.page-404
					.row
						+e.image
						.col-lg-6.col-md-6.col-sm-6
							+e.info
								+e.title Извините ...
									br
									| страница не найдена
								+e.desc Но ничего страшного, вы можете перейти на&nbsp;
									a(href="/") Главную страницу
		include components/common/footer
