include helpers/index

-let isBlog = true;

-let page = 'catalog';
-let title = 'Ego Models | Page About US';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let breadcrumbs = ['Главная', 'О нас']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section._pd
				.container.relative
					+b('span').stroke-placeholder._blog About us
					+b.page-head
						include components/common/breadcrumbs
					.row
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							+b.content._rubber
								+e('img').image-info(src="assets/images/model-gray.jpg")
								+b.decor-first
									span
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.first-xs
							+b.content
								+e.text-info._prop
									p Добро пожаловать на официальный сайт модельного агентства Ego Models! Рады вас приветствовать!
									p Наверно, сейчас самое время написать что мы ведущее модельное агентство Украины, обладаем многотысячной базой моделей и отличаемся завидным профессионализмом...Еще можно перечислить наши 5 (десять, двадцать) достоинств.
									p Указать, почему именно МЫ, и чем мы уникальны. Но..! данный текст слишком шаблонный и очень похож на аналогичные описания многих модельных агентств. Поэтому мы оставляем возможность ВАМ самостоятельно сформировать свое мнение о нас, просмотрев разделы "Модели" и "Новости".
									p Для тех, кто все-таки считает, что профессиональное модельное агентство должно предоставить конкретику, мы озвучим несколько фактов и главных принципов нашей работы.
									p Несколько слов отдельно для наших заказчиков:
									p Если у вас есть необходимость в услугах профессиональных моделей, просто свяжитесь с необходимым отделом (работа по Украине – LOCAL DEPARTMENT, работа по зарубежью – INERNATIONAL DEPARTMENT) и мы ответим на все ваши вопросы в кратчайшие сроки. Наши модели принимают участие в таких видах работ: подиумные показы, шоу-румы, съемки клипов, fashion журналах, каталогах, рекламных съемках, выставках.
						.col-lg-8.col-md-8.col-sm-6.col-xs-12
							+b.content._black
								+e.text-info._black
									p Ключевая информация для моделей:
									p - В базе агентства именно столько моделей, сколько на данный момент мы можем обеспечить хорошей и стабильной работой.
									p - Мы работаем с моделями, которые соответствуют модельным стандартам. Бывают исключения, но поверьте, если ваш рост ниже 168 см (для девушек), и ниже 180 см (для парней), успешную карьеру модели сделать исключительно сложно.
									p - Абсолютное заблуждение, что для того, чтобы стать успешной моделью, нужны крупные вложения денег! Для нас имеет значение ваша внешность и желание добиться успеха!

									p Так что если у вас есть желание узнать, какие у вас перспективы для сотрудничества с нашим агентством, просто заполните анкету на сайте в разделе “Стать моделью” и мы свяжемся с вами и обсудим время возможного собеседования. В случае, если по каким-то причинам вы не можете отправить анкету, свяжитесь с Менеджером по работе с новыми лицами (в разделе "Контакты" - NEW FACE DEPARTMENT).

									p С уважением,
										br
										| Команда EGO MODELS!
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							+b.decor-second
			include components/front-page/section-about-us
			include components/front-page/section-video
			include components/about-us/section-our-team
		include components/common/footer
