include helpers/index

-let page = 'catalog';
-let title = 'Ego Models | Page models';
-let description = 'Template for Quick start';
-let keywords = 'Page keywords';

-let breadcrumbs = ['Главная', 'Стать моделью']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section
				.container.relative
					+b.stroke-placeholder._large Models
					+b.page-head
						include components/common/breadcrumbs
					include components/become-a-model/form
		include components/common/footer
