include helpers/index

-let isBlog = true;

-let page = 'catalog';
-let title = 'Ego Models | Page models';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let breadcrumbs = ['Главная', 'Блог']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section
				.container.relative
					+b('span').stroke-placeholder._blog Blog
					+b.page-head
						include components/common/breadcrumbs
						+b.categories
							+e.title Разделы:
							+e.list
								+e.link(href="#") Стиль
								+e.link(href="#") Fashion
								+e.link(href="#") Egomodels
								+e.link(href="#") Красота
								+e.link(href="#") Мода
								+e.link(href="#") Стиль
								+e.link(href="#") Fashion
								+e.link(href="#") Egomodels
								+e.link(href="#") Красота
								+e.link(href="#") Модель
								+e.link(href="#") Стиль
								+e.link(href="#") Fashion
								+e.link(href="#") Egomodels
								+e.link(href="#") Красота
								+e.link(href="#") Мода
					.row
						+loop(3)
							each article, index in blog
								.col-lg-4.col-md-4.col-sm-6.col-xs-12
									include components/blog/article-card
				+b.loadmore._blog
					+icon('load', 'loadmore__icon')
					span Загрузить еще
		include components/common/footer
