include helpers/index

-let isBlog = true;

-let page = 'contacts';
-let title = 'Ego Models | Page Contacts';
-let description = 'Template for Quick start';
-let keywords = 'Page keywords';

-let breadcrumbs = ['Главная', 'Контакты']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section._contacts
				.container
					+b('span').stroke-placeholder._contacts Contacts
					+b.page-head
						include components/common/breadcrumbs
					.row.top
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							+b.subtitle Возникли вопросы ? Пишите нам и мы ответим в кратчайшие сроки.
							+b.contact-form
								include components/contacts/contact-form
								+b.form-decor
						.col-lg-6.col-md-6.col-sm-6.col-xs-12
							+b.map
								+e('img').image(src="assets/images/map.jpg" alt="map")

					.row
						include components/contacts/info-panel
					.row.about-container
							include components/contacts/about-us
			include components/about-us/section-our-team
		include components/common/footer
