include helpers/index

-let title = 'Ego Models | Page favorites';

-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let isPageFavorites = true;

-let production = false;

-let breadcrumbs = ['Главная', 'Избранные']

-let modelFound = true;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section
				.container.relative
					+b('span').stroke-placeholder._blog Favorites
					+b.page-head
						include components/common/breadcrumbs
					if modelFound
						.row.grid-row
							each model in models
								.col-lg-3.col-md-3.col-sm-3.col-xs-6.grid-item
									include components/catalog/card
					else
						+b.favorites
							+e.title У вас нет сохраненных избранных
							+e.desc для добавления моделей нажмите сердце
							+icon('cheart', 'favorites__icon')
		include components/common/footer
