include helpers/index

-let page = 'home';
-let title = 'Welcome to 4dev Template Project';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';
-let isFrontPage = true;
-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		main
			include components/front-page/section-welcome
			include components/front-page/section-about-us
			include components/front-page/section-become-a-model
			include components/front-page/section-blog
			include components/front-page/section-video
			include components/front-page/section-instagram
		include components/common/footer
