include helpers/index

-let page = 'catalog';
-let title = 'Ego Models | Page models';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let breadcrumbs = ['Главная', 'Модели']

-let production = false;

doctype
html(lang="ru" class="white")
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main._catalog
			.container
				.row
					.col-lg-3.col-md-3.col-sm-12.col-xs-12
						include components/catalog/sidebar
					.col-lg-9.col-md-9.col-sm-12.col-xs-12.relative
						+b('span').stroke-placeholder._catalog Models
						+b.page-head
							include components/common/breadcrumbs
							+b.filter-button._open
								+e('span').label Фильтр
							+b.find-total Найденно моделей:
								span  30
						.row.grid-row
							each model in models
								.col-lg-4.col-md-4.col-sm-4.col-xs-6.grid-item
									include components/catalog/card
						+b.loadmore._models
							+icon('load', 'loadmore__icon')
							span Загрузить еще
	include components/common/footer

