include helpers/index

-let isReviews = true;

-let page = 'reviews';
-let title = 'Ego Models | Reviews';
-let description = 'Template for Quick start';
-let keywords = 'Page keywords';

-let breadcrumbs = ['Главная', 'Отзывы']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section.reviews
				.container.relative
					+b('span').stroke-placeholder._reviews Reviews
					+b.page-head
						include components/common/breadcrumbs
					+b.reviews-block
						each item in reviews
							include components/reviews/review-card
				+b.loadmore._blog
					+icon('load', 'loadmore__icon')
					span Загрузить еще
				include components/reviews/review-form
		include components/common/footer
