include helpers/index

-let isSingle = true;

-let page = 'catalog';
-let title = 'Ego Models | Single page';
-let description = 'Template for Quick start';
-let keywords = 'Page keyddwords';

-let breadcrumbs = ['Главная', 'Блог', 'Красота', 'Секреты роскошных волос. Часть 1']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section._single
				+b.page-head._black
					.container.relative
						include components/common/breadcrumbs
						.row.flex-end
							.col-lg-3.col-md-4.col-sm-12.col-xs-12
								+b.post-info
									+e.item 1 июля 2020 г.
									+e.item
										+b.author-card
											+e('img').photo(src="assets/images/author.jpg")
											+e.info
												+e.label Автор:
												+e.name Stasia Smerechevska
									+e.item
										+e.title Поделится:
										+b.share
											+e.item
												+icon('telegram', 'share__icon')
											+e.item
												+icon('fb', 'share__icon')
											+e.item
												+icon('instagram-stroke', 'share__icon')
											+e.item
												+icon('p', 'share__icon')
									+e.item
										+e.title Теги:
										+b.tag
											+e.item
												+e('a').link(href="#") #Модель
											+e.item
												+e('a').link(href="#") #Egomodels
											+e.item
												+e('a').link(href="#") #Модель
											+e.item
												+e('a').link(href="#") #Egomodels
				.container
					.row
						.col-lg-9.col-md-8.col-sm-12.col-xs-12
							+b.page-thumbnail(src="assets/images/article.jpg")
							+b.content
								p Харьковский альпинист Валентин Сипавин одолел самый высокий в мире вулкан Охос дель Саладо в Андах, взобравшись на высоту 6377 метров над уровнем моря. Спортсмен проплыл на каяке по озеру, образовавшемуся в кратере и побил все мировые рекорды. Об этом сообщается на странице организации Alpomania в Facebook.

								p — Последняя подтвержденная информация о трехкратном восходителе на Эверест Валентине Сипавине заканчивалась тем, что он ночевал на кратере самого высокого в мире вулкана Охос дель Саладо и потом совершил на него восхождение. Далее связь оборвалась на несколько дней… И вот Валентин вышел на связь. Его пригласил к себе известный австралийский путешественник, и они с Валентином вместе установили сразу два мировых рекорда Гиннесса, — отмечено в сообщении.

								p Сейчас альпинист возвращается домой в Украину. По приезду обещал рассказать о том, как ему удалось затащить на вершину каяк, разбить лед и проплыть на 6400 м.

								p Это не единое достижение альпиниста Валентина Сипавина за историю спортивной карьеры. В 2001-м он совершил первое восхождение на Эльбрус. Харьковчанин является многократным чемпион и призером чемпионатов Украины по альпинизму. В 2017 году взошел на самую высокую точку планету – гору Эверест. Сипавин стал 19 украинским альпинистом, который сумел покорить Эверест.
								img(src="assets/images/article2.jpg")
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus
								blockquote
									p “Харьковский альпинист Валентин Сипавин одолел самый высокий в мире вулкан Охос дель Саладо в Андах, взобравшись на высоту 6377 метров над уровнем моря. Спортсмен проплыл на каяке по озеру, образовавшемуся в кратере и побил все мировые рекорды. Об этом сообщается на странице организации Alpomania в Facebook.”
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus
			include components/single/comments
			include components/single/subscribe
			include components/single/related-posts
		include components/common/footer
