include helpers/index

-let isPageStudio = true;

-let title = 'Ego Models | Page Studio';
-let description = 'Template for Quick start';
-let keywords = 'Page keywords';

-let breadcrumbs = ['Главная', 'Студия']

-let production = false;

doctype
html(lang="ru").white
	head
		include components/common/head
	body
		include components/common/header
		+b('main').main
			+b('section').section._pd
				.container.relative
					.row
						.col-lg-6.col-md-6.col-sm-12.col-xs-12
							+b.page-head
								+b('span').stroke-placeholder._studio Studio
								include components/common/breadcrumbs
							+b.studio-info
								p это профессиональная фотостудия в самом центре г. Киев с ТОП световым оборудованием Profoto и полным набором рефлекторов.
								p У нас очень много постоянных фотографов которые ценят качественный свет, отличный сервис, чистое и уютное пространство, постоянство в качестве нашей работы это залог нашего общего успеха.
							+b('iframe').video-frame(src="https://www.youtube.com/embed/SN8twgCuheU?modestbranding=1" allowfullscreen)
						.col-lg-6.col-md-6.col-sm-12.col-xs-12
							+b.slider
								+e.inner.swiper-container
									.swiper-wrapper
										+loop(3)
											+e.item.swiper-slide
												+e('img').image(src="assets/images/slide.jpg")
								+e.navigation
									+e.btn-next
									+e.btn-prev
				+b('span').black-line
			+b('section').section._photo-gallery
				.container
					+e.title._inversion._center Фото студии
					+b.gallery
						+loop(6)
							+e('a').item(href="assets/images/studio/" + index + ".jpg" data-lightbox)
								+e('img').image(src="assets/images/studio/" + index + ".jpg")
			+b('section').section
				.container
					+e.title._center Аренда Зала
					+b.calendar
						.row
							.col-lg-8.col-md-7.col-sm-7.col-xs-12.full
								+b.date-nav
									+e('span').prev.disabled
									+e('span').current 16 октябрся - 22 октября
									+e('span').next
							.col-lg-4.col-md-5.col-sm-5.col-xs-12.full 2
							.col-lg-8.col-md-7.col-sm-7.col-xs-12.full
								+e.inner
									+e.days-label
										+e.day-label
											span Пн, 1
										+e.day-label
											span Вт, 2
										+e.day-label
											span Ср, 3
										+e.day-label
											span Чт, 4
										+e.day-label
											span Пт, 5
										+e.day-label
											span Сб, 6
										+e.day-label
											span Вс, 7
									+e.week-grid
										+e.hours-label
											span 09:00 - 10:00
											span 10:00 - 11:00
											span 11:00 - 12:00
											span 12:00 - 13:00
											span 13:00 - 14:00
											span 14:00 - 15:00
											span 15:00 - 16:00
											span 16:00 - 17:00
											span 17:00 - 18:00
											span 18:00 - 19:00
											span 19:00 - 20:00
											span 20:00 - 21:00
											span 21:00 - 22:00
										+e.week-days
									+e.bottom
										+b.calendar-info
											+e.item
												+e.icon
													+b.state._busy
												+e.label Занято
											+e.item
												+e.icon
													+b.state._select
												+e.label Выбрано
											+e.item
												+e.icon
													+b.state._price600
												+e.label 600 ₴
											+e.item
												+e.icon
													+b.state._price800
												+e.label 800 ₴
											+e.item
												+e.icon
													+b.state._price1000
												+e.label 1000 ₴
											+e.item
												+e.icon
													+b.state._price1200
												+e.label 1200 ₴
											+e.item
												+e.icon
													+b.state._price1400
												+e.label 1400 ₴
										+b.total-price
											+e.label Итого:
											+e.value 1800 ₴
							.col-lg-4.col-md-5.col-sm-5.col-xs-12.full
								+e.form
									+b.form
										+e.title Контактные данные
										+e.field._full
											+e('label').label._invert(for="name") ФИО
											+e('input').input._invert(name="name" id="name" type="text")
										+e.field._full
											+e('label').label._invert(for="phone") Телефон
											+e('input').input._invert(name="phone" id="phone" type="text" placeholder="+380 (__) ___-__-__")
										+e.field._full
											+e('label').label._invert(for="name") Email
											+e('input').input._invert(name="name" type="text")
										+e.field._full
											+e('label').label._invert(for="name") Коментарий
											+e('textarea').textarea._invert(name="name" type="text")
		include components/common/footer
