+b('footer').footer
	include lightbox
	include cookie-popup
	include form-popup
	.container
		.row
			.col-lg-2.col-md-6.col-sm-6.col-xs-12
				+b('a').logo._footer(href="/")
					+e.icon
						+icon('logo', 'logo__icon')
			.col-lg-8.col-md-12.col-sm-12.col-xs-12.col-center.last-md.last-sm.last-xs
				+b('ul').menu._second
					each link in menu
						li
							a(href=link.url) #{link.name}
				+b.block-group
					+b.copyright &copy; 2007-2020 EgoModels TM. All rights reserved.
					+b.menu._additionally
						li
							a(href="") Политика конфиденциальности
						li
							a(href="") Правила использования
			.col-lg-2.col-md-6.col-sm-6.col-xs-12
				+b.social._static
					+e('a').item._small(href="")
						+icon('fb', 'social__icon')
					+e('a').item._small(href="")
						+icon('instagram', 'social__icon')
					+e('a').item._small(href="")
						+icon('youtube', 'social__icon')
					+e('a').item._small(href="")
						+icon('m', 'social__icon')
script(src="assets/scripts/vendor.js")
script(src="assets/scripts/main.js")
