+b.form-container
	+e('span').close
	include ../popups/write-popup
	+b.form-buttons
		+e('a').button._call(href="tel:#")
			+e.icon-wrapper
				+icon('phone', 'form-buttons__icon')
			+e.text Позвонить нам
		+e.button._write
			+e.icon-wrapper
				+icon('chats', 'form-buttons__icon')
			+e.text Написать нам
		+e('a').button._telegram(href="#")
			+e.icon-wrapper
				+icon('telegram-stroke', 'form-buttons__icon')
			+e.text Наш телеграм
