meta(charset="utf-8")
meta(name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes")
+style(production)
meta(name="description" content=description)
meta(name="Keywords" content=keywords)
title #{title}
include favicon
script(src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js")
link(rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css")