+b('header').header
	include preloader
	include scheme-button-debug
	.container
		.row
			.col-lg-2.col-md-2
				+b.panel
					+b('a').logo(href="/" class=is404 ? '_white' : '')
						+e.icon
							+icon('logo', 'logo__icon')
					+b.btn-menu
						span
			.col-lg-8.col-md-8
				include navigation
			.col-lg-2.col-md-2
				+b.group-panel
					include lang-switcher
					include buttons
	include chats-button
