.form-navigation {
    display: flex;
    width: 50px;
    height: 100%;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    
    @include MQlite(max, md) {
        width: calc(100% - 35px);
        height: 50px;
        margin: 0 auto 70px;
        flex-direction: row;
    }
    
    &__item {
        display: flex;
        position: relative;
        @include MQlite(min, md) {
            height: 100%;
            align-items: flex-end;
            &:first-child {
                height: auto;
            }
        }
        
        @include MQlite(max, md) {
            width: 100%;
            justify-content: flex-end;
            &:first-child {
                width: auto;
            }
        }
        
        &::before {
            width: 3px;
            height: 100%;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            background: var(--three-color-lite);
            transition: background 0.5s ease;
            @include pseudo;
            
            @include MQlite(max, md) {
                width: 100%;
                height: 3px;
                top: 0;
                bottom: 0;
            }
        }
        
        &.active {
            .form-navigation {
                &__num {
                    background: var(--second-color);
                    color: var(--primary-color);
                }
                
                &__label {
                    visibility: visible;
                    opacity: 1;
                }
            }
            
            &::before {
                background: var(--second-color);
            }
        }
    }
    
    &__inner {
        position: relative;
    }
    
    &__label {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: -170px;
        align-items: center;
        color: var(--second-color);
        transition: color 0.5s ease;
        opacity: 0;
        @include MQlite(max, md) {
            display: block;
            width: max-content;
            margin: auto;
            top: 63px;
            right: 0;
            left: -18px;
        }
        
        @include MQlite(min, md) {
            &::after {
                display: block;
                width: 50px;
                height: 1px;
                margin: 0 15px;
                background: var(--second-color);
                content: "";
                transition: background 0.5s ease;
            }
        }
    }
    
    &__num {
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;
        align-items: center;
        background: var(--three-color-lite);
        font-size: 1.4rem;
        color: var(--primary-color);
        border-radius: 50%;
        transition: background 0.5s ease, color 0.5s ease;
        @include size(50px);
    }
}
