//default colors
$white: #ffffff;
$black: #000000;
$gray: #393939;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #949999;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-650: #535353;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #1a1a1a;
