// breakpoints
$S: 768px;
$M: 992px;
$L: 1200px;
// functions #############################################################
@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

// mixins #############################################################
// media queries
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin min-size($size) {
    min-width: $size;
    min-height: $size;
}

@mixin appios {
    -webkit-appearance: none;
}

@mixin font($size: false, $colour: false, $weight: false, $lh: false) {
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin anim {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


@mixin MQlite($type, $media) {
    @if $type == min {
        @if $media==sm {
            @media only screen and (min-width: $S) {
                @content;
            }
        } @else if $media==md {
            @media only screen and (min-width: $M) {
                @content;
            }
        } @else if $media==lg {
            @media only screen and (min-width: $L) {
                @content;
            }
        }
    } @else if $type == max {
        @if $media==sm {
            @media only screen and (max-width: $S) {
                @content;
            }
        } @else if $media==md {
            @media only screen and (max-width: $M) {
                @content;
            }
        } @else if $media==lg {
            @media only screen and (max-width: $L) {
                @content;
            }
        }
    }
}

@mixin MQ($media) {
    @if $media==xs {
        @media only screen and (max-width: $S - 1) {
            @content;
        }
    } @else if $media==sm {
        @media only screen and (min-width: $S) and (max-width: $M - 1) {
            @content;
        }
    } @else if $media==md {
        @media only screen and (min-width: $M) and (max-width: $L - 1) {
            @content;
        }
    } @else if $media==lg {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
    } @else if $xy==x {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    } @else if $xy==y {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}

@mixin ie {
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        @content;
    }
}

@mixin cf7Valid() {
    .wpcf7-validation-errors,
    .wpcf7-mail-sent-ok {
        @content;
    }
}

@mixin cf7($class) {
    @if $class==error {
        .wpcf7-validation-errors {
            @content;
        }
    } @else if $class==ok {
        .wpcf7-mail-sent-ok {
            @content;
        }
    }
}

@mixin placeholder($color, $size, $style) {
    &::-webkit-input-placeholder {
        font-family: $font-primary;
        color: $color;
        font-size: $size;
        font-style: $style;
    }
    &::-moz-placeholder {
        font-family: $font-primary;
        color: $color;
        font-size: $size;
        font-style: $style;
    }
    &:-moz-placeholder {
        font-family: $font-primary;
        color: $color;
        font-size: $size;
        font-style: $style;
    }
    &:-ms-input-placeholder {
        font-family: $font-primary;
        color: $color;
        font-size: $size;
        font-style: $style;
    }
}
