.notify {
    display: flex;
    visibility: hidden;
    width: 380px;
    padding: 40px;
    position: fixed;
    z-index: 5;
    top: 80px;
    right: 80px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background: var(--second-color);
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
    transform: translateX(100%);
    opacity: 0;
    
    @include MQ(xs) {
        width: 100%;
        padding: 30px;
        top: auto;
        right: 0;
        bottom: 0;
    }
    
    &.active {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }
    
    &__title {
        margin: 0 0 20px;
        line-height: 1.4;
        color: var(--primary-color-revert);
    }
    
    &__button {
        padding: 10px 20px;
        margin: 0 10px 0 0;
        background: transparent;
        color: var(--primary-color-revert);
        text-decoration: none;
        cursor: pointer;
        transition: all .5s ease;
        
        &_ok {
            border: 2px solid var(--primary-color-revert);
            
            &:hover {
                background: var(--primary-color-revert);
                color: var(--second-color);
            }
        }
    }
}