@import "notify";

.favorites {
    display: flex;
    visibility: hidden;
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    flex-direction: column;
    color: var(--second-color);
    transition: color .5s ease, opacity .5s ease, visibility .5s ease;
    opacity: 0;
    
    &_show {
        visibility: visible;
        opacity: 1;
    }
    
    &__image {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 700px;
    }
    
    &__inner {
        display: flex;
        padding: 0 30px;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include size(100%);
    }
    
    &__title {
        margin: 0 0 20px;
        font-size: 2rem;
        font-weight: 600;
        @include MQ(xs) {
            font-size: 1.4rem;
            line-height: 1.4;
            text-align: center;
        }
    }
    
    &__desc {
        margin: 0 0 20px;
        font-size: 1.2rem;
        @include MQ(xs) {
            line-height: 1.4;
            text-align: center;
        }
    }
    
    &__icon {
        fill: currentColor;
        @include size(32px);
    }
}


.clear-button {
    display: flex;
    align-items: center;
    color: rgba(var(--color-rgba-invert), .5);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .5s ease, opacity .3s ease;
    
    &:hover {
        opacity: .8;
    }
    
    &::before {
        display: block;
        margin: 0 10px 0 0;
        position: static;
        background: currentColor;
        content: '';
        mask: url("../icons/source/delete.svg") center / 100%;
        @include size(28px);
    }
}