.popup {
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
    transform: scale(1.3);
    opacity: 0;
    @include size(100%);
    
    &.active {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
    
    &__window {
        width: 980px;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        position: relative;
        z-index: 2;
        overflow-y: auto;
        background: var(--second-color);
        transition: visibility .3s ease, opacity .3s ease, transform .3s ease;
    }
    
    &__title {
        padding: 50px 50px 0;
        font-size: 2.1rem;
        color: var(--primary-color-revert);
        
        @media all and (min-width: 992px) and (max-width: 1440px) {
            padding: 30px 30px 0;
        }
        
        @include MQ(xs) {
            padding: 20px 50px 0 20px;
            font-size: 1.6rem;
        }
    }
    
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: transform .3s ease;
        transform: scale(1);
        @include size(26px);
        
        &::before,
        &::after {
            width: 100%;
            height: 2px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--primary-color-revert);
            @include pseudo;
        }
        
        &::before {
            transform: rotate(-45deg);
        }
        
        &::after {
            transform: rotate(45deg);
        }
        
        &:hover {
            transform: scale(1.1);
        }
    }
    
    &__inner {
        padding: 50px;
        
        @media all and (min-width: 992px) and (max-width: 1440px) {
            padding: 35px;
        }
        
        @include MQ(xs) {
            padding: 20px 20px 90px;
        }
    }
    
    &.active {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
        
        & ~ .overlay {
            visibility: visible;
            opacity: 1;
            @include size(100%);
        }
    }
    
    &__overlay {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background: rgba(var(--color-rgba-revert), .6);
        @include size(100%)
    }
}

