.form-body {
    visibility: hidden;
    width: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    align-self: flex-start;
    overflow-y: auto;
    background-color: var(--second-color);
    transition: transform .5s ease, opacity 1s ease;
    transform: scaleY(0);
    opacity: 0;
    box-shadow: 1px 1px 19px rgba(0, 0, 0, .2);
    
    &.active {
        visibility: visible;
        width: 575px;
        padding: 1rem;
        transform: scaleY(1);
        opacity: 1;
        @include MQlite(min, sm) {
            padding: 50px 68px;
            align-self: center;
        }
    }
    
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform .3s ease;
        @include size(32px);
        
        &::before,
        &::after {
            width: 70%;
            height: 2px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--primary-color-revert);
            transition: background .5s ease;
            @include pseudo();
        }
        
        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
        }
        
        &:hover {
            transform: scale(1.2);
        }
    }
    
    &__subtitle {
        margin-bottom: 50px;
        font-size: 2.6rem;
        color: var(--primary-color-revert);
        @include MQlite(max, sm) {
            margin: 30px 0 20px 0;
            font-size: 2rem;
        }
    }
    
    & .form__field {
        padding: 0;
        
        &.submit {
            button {
                width: 100%;
                padding: 26px;
                background-color: var(--primary-color-revert);
                font-family: inherit;
                font-size: 1.1rem;
                color: var(--second-color);
                text-transform: uppercase;
                
                &:hover {
                    background-color: var(--three-color-lite);
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;
                }
            }
        }
    }
    
    & .form__label {
        color: var(--primary-color-revert);
        text-transform: uppercase;
    }
    
    & .form__input {
        color: var(--primary-color-revert);
        border: 1px solid var(--primary-color-revert);
        @include MQlite(max, sm) {
            padding: 10px;
        }
    }
    
    & .checkbox__input:checked ~ .checkbox__label {
        &::after {
            background: var(--second-color);
        }
        
        &::before {
            background: var(--primary-color-revert);
        }
    }
    
    & .checkbox__label {
        color: rgba(var(--color-rgba-revert), .5);
        
        a {
            color: var(--primary-color-revert);
        }
        
        &::before {
            background-color: var(--primary-color-revert);
        }
        
    }
    
    #abb-phone {
        @include placeholder(var(--primary-color-revert), 1.1rem, normal)
    }
    
    #abb-message {
        resize: none;
    }
}




