@import "common/common";
@import "front-page/front-page";
@import "form-page/form-page";
@import "catalog/catalog";
@import "blog/blog";
@import "single/single";
@import "about-us/about-us";
@import "favorites/favorites";
@import "page-404/page-404";
@import "studio/studio";
@import "reviews/reviews";
@import "contacts/contacts";
@import "popups/popups";
@import "model/model";
@import "compcard/compcard";

.group-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include size(100%);
}

.debug {
    color: var(--second-color);
}
