+b('form').form.js-become-model-form(enctype="multipart/form-data")
	.row.become-model-row
		.col-lg-9.col-md-9.col-sm-12.col-xs-12
			+e.stage.active(data-form-step="1")
				.row
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						+e.field
							+e('label').label(for="abb-name") Фио
							+e('input').input(id="abb-name" name="abb-name" type="text" data-validation="required")

						+e.field
							+e('label').label(for="date-of-birth") Дата Рождения
							+e('input').input(id="date-of-birth" name="date-of-birth" type="date" data-validation="required")

						+e.field
							+e('label').label(for="number") Телефон
							+e('input').input(id="number" name="number" type="text" data-validation="required")

						+e.field
							+e('label').label(for="email") Email
							+e('input').input(id="email" name="email" type="text" data-validation="required email")

					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						+e.field
							+e('label').label(for="country") Страна
							+e('input').input(id="country" name="country" type="text" data-validation="required")

						+e.field
							+e('label').label(for="city") Город
							+e('input').input(id="city" name="city" type="text" data-validation="required")

						+e.field
							+e('label').label(for="social") Ссылки на соц сети
							+e('input').input(id="social" name="social" type="text")

						+e.field._center
							+b.checkbox._form
								+e('input').input(id="accept" name="accept" type="checkbox" data-validation="required")
								+e('label').label._small(for="accept") Я согласен на&nbsp;
									a(href="#") обработку персональных данных

			+e.stage(data-form-step="2")
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						+e.field
							+e('label').label(for="height") Ваш рост
							+e('input').input(id="height" name="height" type="text" data-validation="required")
						+e.field
							+e('label').label(for="waist") Талия
							+e('input').input(id="waist" name="waist" type="text" data-validation="required")
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						+e.field
							+e('label').label(for="social") Бюст
							+e('input').input(id="bust" name="bust" type="text" data-validation="required")
						+e.field
							+e('label').label(for="social") Бедра
							+e('input').input(id="hips" name="hips" type="text" data-validation="required")
					.col-lg-12
						+e.field
							+e('label').label(for="motivation") Почему вы хотите стать моделью Ego Models?
							+e('textarea').input(id="motivation" name="motivation" placeholder="Текст")
						+e.field
							+b.checkbox._form
								+e('input').input.js-affiliates-checkbox(id="affiliate" name="affiliate" type="checkbox")
								+e('label').label._small(for="affiliate") Помогал ли Вам кто-то заполнять анкету?
				.row.js-affiliates-row.affiliates-row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						+e.field
							+e('label').label(for="affiliate-name") Фио
							+e('input').input(id="affiliate-name" name="affiliate-name" type="text")
					.col-lg-6.col-md-6.col-sm-6.col-xs-12
						+e.field
							+e('label').label(for="affiliate-phone") Телефон
							+e('input').input(id="affiliate-phone" name="affiliate-phone" type="text")

			+e.stage.form__stage_file(data-form-step="3")
				.files-field
					.files-field__inner
						.drop-zone
						.file-uploader
							input.file-uploader__input(type="file" name="files" id="file" accept=".jpg, .jpeg, .png" multiple)
							label.file-uploader__label(for="file")
								span.file-uploader__dragndrop
									+icon('upload', 'file-uploader__icon')
									span.file-uploader__text Загрузить фото
						.files-preview

		.col-lg-3.col-md-3.col-sm-12.col-xs-12.first-sm.first-xs.flex-end

			+b('ul').form-navigation

				+e('li').item.active(data-form-step-mark="1")
					+e.inner
						+e('span').label Первый этап
						+e('button').num(type="button") 1

				+e('li').item(data-form-step-mark="2")
					+e.inner
						+e('span').label Второй этап
						+e('button').num(type="button" disabled data-form-step-mark-btn="2") 2

				+e('li').item(data-form-step-mark="3")
					+e.inner
						+e('span').label Третий этап
						+e('button').num(type="button" disabled data-form-step-mark-btn="3") 3

	+b.button(data-form-step-trigger="2" type="button")
		+icon('plus', 'button__icon')
		+e.name Продолжить

//- +b('form').form
//- 	.row
//- 		.col-lg-9.col-md-9.col-sm-12.col-xs-12
//- 			+e.stage
//- 				.row
//- 					.col-lg-6.col-md-6.col-sm-12.col-xs-12
//- 						+e.field
//- 							+e('label').label(for="abb-name") Фио
//- 							+e('input').input(id="abb-name" name="abb-name" type="text")

//- 						+e.field
//- 							+e('label').label(for="date-of-birth") Дата Рождения
//- 							+e('input').input(id="date-of-birth" name="date-of-birth" type="text" placeholder="дд.мм.гггг")

//- 						+e.field
//- 							+e('label').label(for="number") Телефон
//- 							+e('input').input(id="number" name="number" type="text")

//- 						+e.field
//- 							+e('label').label(for="email") Email
//- 							+e('input').input(id="email" name="email" type="text")

//- 					.col-lg-6.col-md-6.col-sm-12.col-xs-12
//- 						+e.field
//- 							+e('label').label(for="country") Страна
//- 							+e('input').input(id="country" name="country" type="text")

//- 						+e.field
//- 							+e('label').label(for="city") Город
//- 							+e('input').input(id="city" name="city" type="text")

//- 						+e.field
//- 							+e('label').label(for="social") Ссылки на соц сети
//- 							+e('input').input(id="social" name="social" type="text")

//- 						+e.field._center
//- 							+b.checkbox._form
//- 								+e('input').input(id="accept" name="accept" type="checkbox")
//- 								+e('label').label._small(for="accept") Я согласен на&nbsp;
//- 									a(href="#") обработку персональных данных
//- 			+e.stage.active
//- 				.row
//- 					.col-lg-6.col-md-6.col-sm-6.col-xs-12
//- 						+e.field
//- 							+e('label').label(for="height") Ваш рост
//- 							+e('input').input(id="height" name="height" type="text")
//- 						+e.field
//- 							+e('label').label(for="bust") Бюст
//- 							+e('input').input(id="bust" name="bust" type="text")
//- 						+e.field
//- 							+e('label').label(for="waist") Талия
//- 							+e('input').input(id="waist" name="waist" type="text")

//- 					.col-lg-6.col-md-6.col-sm-6.col-xs-12
//- 						+e.field
//- 							+e('label').label(for="hips") Бедра
//- 							+e('input').input(id="hips" name="hips" type="text")
//- 						+e.field
//- 							+e('label').label(for="hair-color") Ваш цвет волос
//- 							+e('input').input(id="hair-color" name="hair-color" type="text")
//- 						+e.field
//- 							+e('label').label(for="eye-color") Ваш цвет глаз
//- 							+e('input').input(id="eye-color" name="eye-color" type="text")

//- 			+e.stage
//- 				.row
//- 					.col-lg-6.col-md-6.col-sm-6.col-xs-12
//- 					.col-lg-6.col-md-6.col-sm-6.col-xs-12

//- 		.col-lg-3.col-md-3.col-sm-12.col-xs-12.first-sm.first-xs.flex-end

//- 			+b('ul').form-navigation

//- 				+e('li').item
//- 					+e.inner
//- 						+e('span').label Первый этап
//- 						+e('span').num 1

//- 				+e('li').item.active
//- 					+e.inner
//- 						+e('span').label Второй этап
//- 						+e('span').num 2

//- 				+e('li').item
//- 					+e.inner
//- 						+e('span').label Третий этап
//- 						+e('span').num 3

//- 	+b.button
//- 		+icon('plus', 'button__icon')
//- 		+e.name Продолжить
