.article {
    padding: 0 0 50px;
    position: relative;
    z-index: 2;
    min-height: 275px;
    @include size(100%);
    
    &_blog {
        height: 275px;
        margin: 0 0 40px;
        @include MQ(xs) {
            max-width: 400px;
            margin: 0 auto 40px;
        }
    }
    
    &__thumbnail {
        display: block;
        object-fit: cover;
        @include size(100%)
    }
    
    &__info {
        display: flex;
        width: 75%;
        height: 150px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        flex-direction: column;
        background: var(--primary-color-rgba-revert);
        line-height: 1.4;
        color: var(--second-color-invert);
        transition: transform .3s ease, height .3s ease, background .5s ease, color .5s ease;
        backdrop-filter: blur(10px);
        
        &::before {
            top: 7px;
            right: 7px;
            background: var(--second-color-invert);
            transition: transform .5s ease;
            transform: rotate(0deg);
            mask: url("../icons/source/plus.svg");
            mask-position: center;
            mask-size: 100%;
            @include pseudo;
            @include size(13px);
        }
        
        @include MQ(xs) {
            width: 90%;
        }
        
        
    }
    
    &__row {
        display: flex;
        margin: 0 0 10px;
        align-items: center;
    }
    
    &__date {
        margin: 0 10px 0 0;
        font-size: 1rem;
    }
    
    
    &__category {
        padding: 5px;
        background: var(--second-color-invert);
        font-size: .8rem;
        color: var(--primary-color-invert);
        transition: color .5s ease, background .5s ease;
    }
    
    &__title {
        display: -webkit-box;
        overflow: hidden;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.4;
        color: var(--second-color-invert);
        text-decoration: none;
        text-overflow: ellipsis;
        transition: color .5s ease;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    &_invert {
        .article {
            &__info {
                background: var(--primary-color-rgba-invert);
                color: var(--primary-color-invert);
                
                &::before {
                    background: var(--primary-color-invert);
                }
                
                > .card-tags {
                    color: var(--primary-color-invert);
                }
            }
            
            &__title {
                color: var(--primary-color-invert);
            }
            
            &__category {
                background: var(--primary-color-invert);
                color: var(--second-color-invert);;
            }
            
            
        }
    }
    
    @include MQlite(min, md) {
        &:hover {
            .article {
                &__info {
                    height: calc(100% - 50px);
                    transform: translateY(-50px);
                    
                    &::before {
                        transform: rotate(360deg);
                    }
                    
                    > .card-tags {
                        visibility: visible;
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.card-tags {
    visibility: hidden;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 55px;
    left: 0;
    overflow: hidden;
    color: var(--second-color-invert);
    transition: all .3s ease;
    opacity: 0;
    
    &__title {
        margin: 0 0 5px;
    }
    
    &__inner {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    &__link {
        margin: 0 10px 5px 0;
        font-size: .9rem;
        color: currentColor;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
