.categories {
    display: flex;
    width: 60%;
    align-items: flex-end;
    flex-direction: column;
    @include MQlite(max, md) {
        width: 100%;
        align-items: flex-start;
    }
    
    &__title {
        margin: 0 0 20px;
        color: var(--second-color);
    }
    
    &__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @include MQlite(max, md) {
            justify-content: flex-start;
        }
    }
    
    &__link {
        padding: 7px;
        margin: 0 0 10px 10px;
        background: var(--three-color);
        font-size: .9rem;
        color: var(--primary-color-revert);
        text-decoration: none;
        transition: opacity .3s ease;
        
        &:hover {
            opacity: .8;
        }
        
        @include MQlite(max, md) {
            margin: 0 10px 10px 0;
        }
    }
}

.post-not-found {
    margin: 30px 0 0;
    font-size: 2rem;
    color: var(--second-color);
    text-align: center;
}



