.section-center {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    $this: &;
    display: flex;
    width: 992px;
    max-width: 100%;
    height: 700px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    background: $white;
    
    
    .html2pdf__container & {
        width: 297mm;
        height: 210mm;
    }
    
    .section-center & {
        border: 1px solid black(.1);
        @include MQlite(max, md) {
            width: 100%;
            height: auto;
            padding: 0 0 185px;
            flex-direction: column;
        }
    }
    
    &__download {
        padding: 5px;
        position: absolute;
        top: 25px;
        right: 25px;
        border: 1px solid $gray-900;
        cursor: pointer;
        @include size(46px);
        
        &:hover {
            background: $gray-900;
            
            #{$this}__icon {
                fill: $white;
            }
        }
        
        @include MQlite(max, md) {
            z-index: 2;
            top: 1px;
            right: 1px;
            background: $white;
        }
    }
    
    &__icon {
        fill: $gray-900;
        @include size(100%);
    }
    
    &__photo {
        width: 75%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-right: 1px solid black(.1);
        
        .section-center & {
            @include MQlite(max, md) {
                width: 100%;
                height: 420px;
            }
        }
        
        &::before {
            top: 0;
            right: 0;
            background: linear-gradient(to top, black(.4), transparent);
            @include pseudo;
            @include size(100%);
        }
    }
    
    &__photo-image {
        display: block;
        width: 100%;
        height: 530px;
        
        .html2pdf__container & {
            height: 625px;
        }
    }
    
    &__logo {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    
    &__col {
        display: flex;
        width: 58%;
        justify-content: space-between;
        flex-direction: column;
        
        .section-center & {
            @include MQlite(max, md) {
                width: 100%;
                flex-direction: column;
            }
        }
    }
    
    &__row {
        display: flex;
        
        .section-center & {
            @include MQlite(max, md) {
                flex-direction: column;
            }
        }
    }
    
    &__inner {
        display: flex;
        width: 42%;
        justify-content: space-between;
        flex-direction: column;
        background: $white;
        
        .section-center & {
            @include MQlite(max, md) {
                width: 100%;
            }
        }
    }
    
    &__info {
        padding: 50px;
        
        .section-center & {
            @include MQ(xs) {
                padding: 20px;
            }
        }
    }
    
    &__name {
        padding: 0 60px 0 0;
        margin: 0 0 30px;
        font-size: 2.6rem;
        
        .section-center & {
            @include MQlite(max, md) {
                padding: 0 20px;
            }
        }
    }
    
    &__params {
        display: flex;
        width: 25%;
        padding: 40px 20px;
        justify-content: space-between;
        flex-direction: column;
        
        .section-center & {
            @include MQlite(max, md) {
                width: 100%;
                padding: 40px 20px 20px;
                margin: 0;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    
    &__params-item {
        display: flex;
        flex-direction: row;
        
        .section-center & {
            @include MQlite(max, md) {
                width: 33.333%;
                margin: 0 0 20px;
            }
        }
        
        span {
            &:first-child {
                margin: 0 10px 0 0;
                font-size: 1rem;
                color: $gray-500;
                text-transform: capitalize;
            }
        }
    }
    
    &__links {
        display: flex;
        flex-direction: column;
    }
    
    &__links-item {
        display: flex;
        margin: 0 0 10px;
    }
    
    &__gallery {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        
        .section-center & {
            @include MQlite(max, md) {
                height: 600px;
            }
        }
        
        img {
            display: block;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //object-fit: cover;
            object-position: top;
            @include MQ(xs) {
                height: 150px;
            }
        }
    }
    
    &__small-photo {
        display: flex;
        width: 100%;
        max-width: 50%;
        height: 50%;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        border: 1px solid $white;
    }
    
    &__text {
        line-height: 1.8;
        color: $gray-700;
    }
}

.compcard-contacts {
    display: flex;
    flex-direction: column;
    
    .section-center & {
        @include MQlite(max, md) {
            padding: 20px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    
    &__row {
        display: flex;
        margin: 0 0 20px;
        flex-direction: row;
        
        .section-center & {
            @include MQlite(max, md) {
                margin: 0;
                flex-direction: column;
            }
        }
    }
    
    &__col {
        display: flex;
        margin: 0 20px 0 0;
        flex-direction: column;
    }
    
    &__link {
        display: block;
        margin: 0 0 7px;
        font-size: .9rem;
        color: $gray-900;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__item {
        font-size: .9rem;
        
        p {
            margin: 0 0 7px;
        }
        
        a {
            color: $gray-900;
            text-decoration: none;
            
            .section-center & {
                @include MQlite(max, md) {
                    display: block;
                    margin: 20px 0 0;
                }
            }
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
