.form.has-advanced-upload {
    .file-uploader__dragndrop {
        display: block;
    }
    
    .file-uploader__input {
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        opacity: 0;
    }
}

.form {
    position: relative;
    
    .button {
        background: none;
    }
}

.files-field {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    .form.files-added & {
        align-items: flex-start;
    }
    
    .drop-zone {
        position: absolute;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        
        .form.is-dragover & {
            z-index: 100;
            border: 2px solid red;
        }
    }
}

.file-uploader {
    position: relative;
    z-index: 100;
    
    .form.is-dragover & {
        pointer-events: none;
    }
    
    .form.files-added & {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    &__dragndrop {
        text-align: center;
        
        .form.files-added & {
            display: flex;
            height: 50px;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
    &__label {
        display: flex;
        min-width: 500px;
        min-height: 400px;
        justify-content: center;
        align-items: center;
        
        .form.files-added & {
            min-width: 0;
            min-height: 0;
        }
    }
    
    &__text {
        display: block;
        margin-top: 30px;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        color: #bebdbd;
        text-transform: uppercase;
        
        .form.files-added & {
            margin-top: 0;
            margin-left: 20px;
        }
    }
    
    &__icon {
        .form.files-added & {
            width: 36px;
            height: 33px;
        }
    }
}

.files-preview {
    display: grid;
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 80px;
    left: 0;
    overflow: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    gap: 16px;
    
    .form.is-dragover & {
        pointer-events: none;
    }
    
    &__item {
        position: relative;
    }
    
    &__image-wrapper {
        display: block;
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 0;
        left: 8px;
        
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__delete-btn {
        width: 49px;
        height: 45px;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 8px;
        background: rgba(26, 26, 26, 0.2);
        text-align: center;
        cursor: pointer;
        mix-blend-mode: hard-light;
    }
    
    &__delete-inner {
        display: inline-flex;
        width: 24px;
        height: 24px;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        border-radius: 50%;
        
        &:before {
            display: inline-block;
            width: 12px;
            height: 2px;
            background: $white;
            content: "";
        }
    }
}

.form-navigation__num {
    cursor: pointer;
    
    &[disabled] {
        cursor: no-drop;
    }
}

.form__field {
    position: relative;
}

.error {
    margin-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    color: red;
    transition: opacity 0.3s;
}

.checkbox.is-error {
    .checkbox__label::before {
        border-color: red;
    }
}

.affiliates-row {
    display: none;
    
    &.is-show {
        display: flex;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.model-form-response-message {
    display: flex;
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    transition: background .5s ease, opacity .3s ease, visibility .3s ease;
    opacity: 1;
    
    &.hide {
        visibility: hidden;
        opacity: 0;
    }
    
    &__text {
        font-size: 24px;
        color: var(--second-color);
        
        .is-error & {
            color: red;
        }
    }
}