.breadcrumbs {
    display: flex;
    width: max-content;
    max-width: 100%;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    color: var(--second-color);
    @include MQ(xs) {
        width: 100%;
    }
    
    &_inversion {
        color: var(--primary-color-revert);
    }
    
    @include MQlite(max, md) {
        margin: 0 0 50px;
        &_model {
            margin: 0 0 20px;
        }
    }
    
    
    &__item {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        color: currentColor;
        transition: color .5s ease;
        
        &_small {
            span {
                font-size: 3rem;
                @include MQ(xs) {
                    font-size: 1.6rem;
                }
            }
        }
        
        &::after {
            display: block;
            width: 14px;
            height: 9px;
            margin: 0 10px;
            background: currentColor;
            content: '';
            mask: url("../icons/source/arrow-right.svg");
            mask-size: 100%;
        }
        
        &:last-child {
            width: 100%;
            margin: 10px 0 0;
            font-size: 5rem;
            line-height: 1.4;
            
            @include MQ(xs) {
                font-size: 2.6rem;
            }
            
            &::after {
                display: none;
            }
            
            .single-models & {
                font-size: 7rem;
                @include MQ(xs) {
                    font-size: 3.3rem;
                }
            }
            
        }
    }
    
    &__link {
        color: currentColor;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    @include MQ(sm) {
        &_model {
            .breadcrumbs__item:last-child {
                font-size: 4rem;
            }
        }
    }
}

