.btn-menu {
    display: none;
    margin: auto;
    position: relative;
    @include size(48px);
    
    @include MQlite(max, md) {
        display: block;
    }
    
    span,
    &::before,
    &::after {
        width: 35px;
        height: 4px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--second-color);
        transition: transform .5s ease, opacity .5s ease, background .5s ease;
        will-change: transform;
        @include pseudo;
    }
    
    span {
        transform-origin: left;
        opacity: 1;
    }
    
    &::before {
        transform: translateY(-10px);
    }
    
    &::after {
        
        transform: translateY(10px);
    }
    
    &.active {
        span {
            transform: translateX(-100%) scaleX(0);
            opacity: 0;
        }
        
        &::before {
            transform: translateY(0) rotate(45deg);
        }
        
        &::after {
            transform: translateY(0) rotate(-45deg);
        }
    }
}
