.button {
    display: flex;
    width: max-content;
    margin: auto;
    position: relative;
    z-index: 2;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    
    &_favorites {
        @include MQlite(max, md) {
            margin: 30px auto 0;
        }
    }
    
    &__icon {
        padding: 10px;
        margin: 0 15px 0 0;
        background: var(--second-color);
        transition: background .5s ease, fill .5s ease, transform .3s ease;
        fill: var(--primary-color);
        @include size(36px);
        
        &_invert {
            background: var(--second-color-invert);
            fill: var(--primary-color-invert);
        }
    }
    
    &__name {
        font-size: 1.1rem;
        color: var(--second-color);
        text-transform: uppercase;
        transition: color .5s ease, opacity .3s ease;
        @include MQ(xs) {
            font-size: .9rem;
        }
        
        &_invert {
            color: var(--second-color-invert);
        }
        
        &_caps {
            text-transform: uppercase;
        }
    }
    
    &:hover {
        .button {
            
            &__icon {
                transform: rotate(90deg);
            }
            
            &__name {
                opacity: .6;
            }
        }
    }
}

