.buttons {
    display: flex;
    @include MQlite(max, md) {
        height: 60px;
        padding: 0 10px;
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        align-items: center;
    }
    
    &__item {
        padding: 10px;
        position: relative;
        color: var(--second-color);
        cursor: pointer;
        transition: color .5s ease, opacity .3s ease;
        opacity: 1;
        @include size(42px);
        
        &_search {
            overflow: hidden;
            
            &::before,
            &::after {
                width: 70%;
                height: 3px;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: var(--second-color);
                transition: .3s transform 0s ease, .3s opacity 0s ease;
                opacity: 0;
                @include pseudo
            }
            
            &::before {
                transform: rotate(-45deg) translate(50px);
            }
            
            &::after {
                transform: rotate(45deg) translate(50px);
            }
            
            &.active {
                svg {
                    
                    transition: .3s transform 0s ease, .3s opacity 0s ease;
                    transform: scale(2);
                    opacity: 0;
                }
                
                &::before,
                &::after {
                    transition: .3s transform .3s ease, .3s opacity .3s ease;
                    opacity: 1;
                }
                
                &::before {
                    transform: rotate(-45deg) translate(0);
                }
                
                &::after {
                    transform: rotate(45deg) translate(0);
                }
            }
        }
        
        &:hover {
            opacity: .4;
        }
        
        @include MQlite(max, md) {
            margin: 0;
            @include size(48px);
        }
    }
    
    &__icon {
        transition: .3s opacity .3s ease, .3s transform .3s ease;
        fill: currentColor;
        @include size(100%);
        
        @include MQlite(min, md) {
            .single-models & {
                fill: rgba(255, 255, 255, 1);
            }
        }
        
        &_cheart {
            fill: transparent;
            stroke: currentColor;
            stroke-width: 2.5px;
            
            @include MQlite(min, md) {
                .single-models & {
                    fill: transparent;
                    stroke: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
