.chats-button {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 200px;
    align-items: center;
    background: var(--second-color);
    color: var(--primary-color-revert);
    border: 1px solid white(.1);
    cursor: pointer;
    transition: color .5s ease, background .5s ease, transform .3s ease;
    transform: translateX(calc(100% - 56px));
    @include MQ(xs) {
        //display: none;
    }
    &__icon {
        padding: 12px;
        fill: currentColor;
        @include size(56px)
    }
    
    &__label {
        width: 150px;
    }
    
    &:hover {
        transform: translateX(0);
    }
}
