.cookies-popup {
    display: flex;
    visibility: hidden;
    width: 500px;
    max-width: 100%;
    padding: 50px;
    position: fixed;
    z-index: 99;
    top: 50px;
    right: 50px;
    align-items: flex-start;
    flex-direction: column;
    background: var(--second-color);
    font-family: $font-primary;
    transition: all .5s ease;
    transform: translateX(100%);
    opacity: 0;
    box-shadow: 1px 1px 19px rgba(0, 0, 0, .2);
    
    @include MQ(sm) {
        top: 70px;
        right: 10px;
    }
    
    @include MQ(xs) {
        width: 100%;
        padding: 30px 50px 30px 30px;
        top: auto;
        right: 0;
        bottom: 0;
    }
    
    
    &.active {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }
    
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform .3s ease;
        @include size(32px);
        
        &::before,
        &::after {
            width: 70%;
            height: 2px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--primary-color-revert);
            transition: background .5s ease;
            @include pseudo();
        }
        
        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
        }
        
        &:hover {
            transform: scale(1.2);
        }
        
    }
    
    &__content {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.4;
        color: var(--primary-color-revert);
        transition: color .5s ease;
    }
    
    &__buttons {
        display: flex;
    }
    
    &__button {
        padding: 10px 20px;
        margin: 0 10px 0 0;
        background: transparent;
        color: var(--primary-color-revert);
        cursor: pointer;
        transition: all .5s ease;
        
        &_ok {
            border: 2px solid var(--primary-color-revert);
            
            &:hover {
                background: var(--primary-color-revert);
                color: var(--second-color);
            }
        }
        
        &_more {
            display: flex;
            align-items: center;
            font-family: $font-primary;
            font-weight: 500;
            
            &::after {
                display: block;
                margin: 0 0 0 10px;
                background: var(--primary-color-revert);
                content: '';
                transition: all .5s ease;
                mask: url("../icons/source/plus.svg") center / 100%;
                @include size(15px);
            }
            
            &:hover {
                text-decoration: underline;
                
                &::after {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
