.copyright {
    flex-shrink: 0;
    font-size: .9rem;
    line-height: 1.4;
    color: var(--three-color-lite);
    transition: color .5s ease;
    
    @include MQ(sm) {
        font-size: .8rem;
    }
    
    @include MQ(xs) {
        margin: 20px 0 0;
    }
}


.footer {
    padding: 40px 0;
    position: relative;
}