.form-container,
.search-container {
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-rgba);
    transition: visibility .5s ease, opacity .5s ease;
    opacity: 0;
    backdrop-filter: blur(2px);
    
    &.active {
        
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
        @include MQlite(max, md) {
            height: 100vh;
            overflow: auto;
        }
        
        .form-buttons {
            @include MQlite(max, sm) {
                padding: 1rem;
            }
            
            &.hide {
                display: none;
            }
            
            &__button {
                text-decoration: none;
                transform: translateY(0);
                opacity: 1;
                will-change: opacity, transform;
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i * .1}s;
                    }
                }
                
            }
        }
    }
    
    .form-buttons {
        width: 354px;
        max-width: 100%;
        position: relative;
        z-index: 2;
        
        &__button {
            display: flex;
            height: 80px;
            margin-bottom: 10px;
            background-color: var(--second-color);
            text-decoration: none;
            cursor: pointer;
            transition: transform .5s ease, opacity .5s ease;
            transform: translateY(50px);
            opacity: 0;
            box-shadow: 1px 1px 19px rgba(0, 0, 0, .2);
            
            &:hover {
                transform: scale(1.1);
            }
        }
        
        &__icon {
            fill: var(--primary-color-revert);
            @include size(40px);
            
            &-wrapper {
                width: 80px;
                padding: 20px;
                background-color: rgba(var(--color-rgba-revert), .1);
            }
        }
        
        &__text {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            color: var(--primary-color-revert);
            text-transform: uppercase;
            @include MQlite(max, sm) {
                font-size: 1.2rem;
            }
        }
    }
}

.form-container {
    &__overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        @include size(100%);
    }
}