.form {
    $this: &;
    
    &__title {
        margin: 0 0 40px;
        font-size: 2rem;
        color: var(--primary-color-revert);
        transition: color .5s ease;
    }
    
    &__inputs {
        width: 100%;
        margin-bottom: -20px;
        position: relative;
        
        @include MQlite(max, lg) {
            margin-bottom: 0;
        }
        
        @include MQlite(max, md) {
            margin-bottom: 0;
            margin-left: 0;
        }
    }
    
    &__field {
        display: flex;
        width: 100%;
        padding: 0 40px 0 0;
        margin: 0 0 40px;
        flex-direction: column;
        
        @include MQlite(max, md) {
            padding: 0;
        }
        
        &_full {
            padding: 0;
            margin: 0 0 20px;
        }
        
        &_center {
            height: 93px;
            padding: 25px 0 0;
            justify-content: center;
        }
        
        &_last {
            margin: 0;
        }
    }
    
    &__label {
        margin: 0 0 10px;
        font-size: 1.1rem;
        color: var(--second-color);
        text-transform: uppercase;
        transition: color .5s ease;
        
        &_invert {
            color: var(--primary-color-revert);
        }
    }
    
    &__input,
    &__textarea {
        width: 100%;
        max-width: 100%;
        padding: 22px;
        background: transparent;
        font-size: 1.1rem;
        color: var(--second-color);
        border: 1px solid var(--three-color);
        border-radius: 0;
        @include placeholder(rgba(var(--color-rgba-invert), .3), 1rem, normal);
        
        &_invert {
            padding: 17px;
            color: var(--primary-color-revert);
            border-color: var(--primary-color-revert);
            @include placeholder(rgba(var(--color-rgba-revert), .8), 1rem, normal);
        }
        
        
        &_error {
            border-color: red;
        }
    }
    
    &__textarea {
        min-height: 161px;
        resize: none;
        
        &::placeholder {
            font-family: $font-primary;
            text-transform: uppercase;
        }
    }
    
    &__error {
        display: block;
        margin: 6px 0 0;
        top: 100%;
        left: 0;
        color: red;
    }
    
    &__button {
        height: 120px;
        position: relative;
        z-index: 2;
        background-color: var(--three-color);
        font-family: $font-primary;
        font-size: 1.1rem;
        color: var(--primary-color);
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity .3s ease;
        &--centered {
             margin-top: 2rem;
             width: 100%;
        }
        &::before,
        &::after {
            display: block;
            width: calc(50vw + 76rem);
            height: 100%;
            position: absolute;
            top: 0;
            background: var(--second-color);
            content: '';
            transition: background .5s ease;
            
            @include MQlite(max, lg) {
                width: 100vw;
                background-color: var(--three-color);
            }
        }
        
        &::before {
            right: 100%;
        }
        
        &::after {
            left: 100%;
        }
        
        &:hover {
            opacity: .7;
        }
        
        .form_contact-page & {
            &:hover {
                opacity: 1;
            }
        }
        
        &:disabled {
            opacity: .5;
        }
        
        &_popup {
            height: auto;
            padding: 20px 50px;
            margin: auto;
            background: var(--primary-color-revert);
            color: var(--second-color);
            
            &::before,
            &::after {
                display: none;
            }
        }
    }
    
    &__btn {
        width: 100%;
        padding: 20px;
        background: var(--primary-color-revert);
        font-family: $font-primary;
        font-size: 1.1rem;
        color: var(--second-color);
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity .3s ease;
        opacity: 1;
        
        &:hover {
            opacity: .7;
            
        }
    }
    
    &__stage {
        display: none;
        
        &.active {
            display: block;
        }
        
        &_file {
            height: 100%;
            justify-content: center;
            
            &.active {
                display: flex;
            }
        }
        
    }
    
    &__message {
        margin: 20px 0 0;
        font-size: 1.1rem;
        text-align: center;
    }
    
    &__preloader {
        visibility: hidden;
        position: absolute;
        z-index: 101;
        top: 0;
        right: 0;
        background: var(--primary-color);
        transition: background .5s ease, opacity .3s ease, visibility .3s ease;
        opacity: 0;
        @include size(100%);
        
        &.show {
            visibility: visible;
            opacity: 1;
        }
        
        &-icon {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 6px solid var(--second-color);
            border-radius: 50%;
            transition: border-color .5s ease;
            animation: rotation 1s infinite ease-in-out;
            @include size(56px);
            
            &::before {
                top: -50%;
                right: -50%;
                background: var(--primary-color);
                transition: background .5s ease;
                @include pseudo;
                @include size(100%);
            }
        }
    }
    
    &_contact-page {
        #{$this}__message {
            width: 100%;
            padding: 0 40px 0 0;
            position: absolute;
            z-index: 22;
            bottom: -26px;
            color: var(--second-color);
            text-align: center;
        }
    }
    
    &_contact,
    &_favorites,
    &_calendar {
        #{$this}__message {
            color: var(--primary-color-revert);
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.checkbox {
    display: block;
    padding: 2px 0;
    cursor: pointer;
    user-select: none;
    
    &_disabled {
        pointer-events: none;
        opacity: .4;
    }
    
    &__label {
        display: block;
        padding: 0 0 0 36px;
        position: relative;
        font-size: 1.1rem;
        line-height: 1.4;
        color: var(--second-color);
        cursor: pointer;
        transition: color .5s ease;
        
        &::before,
        &::after {
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            transition: all .3s ease;
            @include size(18px);
            @include pseudo;
        }
        
        &::before {
            border: 1px solid var(--second-color);
        }
        
        &::after {
            background: var(--second-color);
            transform: scale(0);
            mask: url("../icons/source/plus-small.svg");
            mask-size: 54%;
            mask-position: center;
            mask-repeat: no-repeat;
        }
        
        &_filter {
            &::after {
                background: var(--primary-color);
            }
        }
        
        &_small {
            padding: 0 0 0 30px;
            font-size: 1rem;
            color: var(--three-color);
        }
        
        sub {
            font-size: .8rem;
        }
        
        a {
            color: var(--second-color);
        }
    }
    
    &__input {
        display: none;
        opacity: 0;
        @include size(0);
        
        &:checked ~ .checkbox__label {
            &::before {
                background: var(--primary-color);
            }
            
            &::after {
                transform: scale(1);
            }
        }
        
        &:checked ~ .checkbox__label_filter {
            &::before {
                background: var(--second-color);
            }
        }
    }
    
    &_revert {
        .checkbox {
            &__label {
                color: var(--primary-color-revert);
                
                &::before {
                    border-color: var(--primary-color-revert);
                }
                
                a {
                    color: var(--primary-color-revert);
                }
            }
            
            &__input:checked ~ .checkbox__label::before {
                background: var(--primary-color-revert);
            }
        }
    }
}


.select {
    width: 100%;
    min-height: 20px;
    padding: 30px;
    margin: 0 0 20px;
    position: relative;
    color: var(--primary-color-revert);
    border: 1px solid var(--primary-color-revert);
    
    &_in-stream {
        padding: 20px;
        margin: 0;
    }
    
    &.active {
        .select__title {
            &::after {
                transform: scaleY(-1);
            }
        }
        
        .select__content {
            visibility: visible;
            opacity: 1;
        }
    }
    
    &__title {
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        font-size: 1.1rem;
        cursor: pointer;
        
        &::after {
            width: 12px;
            height: 12px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--primary-color-revert);
            transition: all .3s ease-in-out;
            transform-origin: center;
            pointer-events: none;
            mask: url("../icons/source/arrow.svg") no-repeat center / 100%;
            @include pseudo;
        }
        
    }
    
    &__content {
        visibility: hidden;
        width: calc(100% + 2px);
        padding: 0 0 20px;
        position: absolute;
        z-index: 8;
        top: 60px;
        left: -1px;
        background-color: var(--second-color);
        font-family: $font-primary;
        font-size: 1.1rem;
        color: var(--primary-color-revert);
        border: 1px solid var(--primary-color-revert);
        border-top: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
        opacity: 0;
        appearance: none;
    }
    
    &__item {
        display: flex;
        width: 100%;
        height: 40px;
        padding: 0 30px;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.2s ease-out;
        
        &:hover {
            opacity: .4;
        }
    }
}


.facebook-login,
.foto-comment {
    margin: 0 20px 0 0;
    @include size(61px);
    
    @media all and (max-width: 320px) {
        margin: 0 0 20px 0;
    }
    
    &__icon {
        cursor: pointer;
        fill: var(--second-color);
        @include size(100%);
    }
    
    
    &__photo {
        border-radius: 50%;
        object-fit: cover;
        @include size(100%);
    }
    
    &__not-found {
        @include size(100%);
    }
}


.become-model-row {
    min-height: 640px;
}

