.header {
    padding: 30px 0;
    position: relative;
    z-index: 4;
    transition: z-index .1s ease;
    
    @include MQlite(max, md) {
        z-index: 6;
    }
    @include MQ(xs) {
        height: 60px;
        padding: 0;
    }
}

@include MQlite(max, md) {
    #wpadminbar {
        display: none;
    }
}

@include MQlite(min, md) {
    body.admin-bar {
        margin-top: 32px;
    }
}

.group-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include size(100%);
}

.relative {
    position: relative;
}

.block-group {
    display: flex;
    align-items: center;
    
    @include MQ(xs) {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
}

.page-head {
    display: flex;
    width: 100%;
    margin: 0 0 50px;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: flex-end;
    
    &_black {
        padding: 100px 0;
        background: var(--second-color);
        transition: background .5s ease;
    }
    
    &_model {
        margin: 0;
    }
    
    @include MQlite(max, md) {
        align-items: normal;
        flex-direction: column;
    }
}