.lang {
    width: 55px;
    height: 40px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    // @include MQlite(max, sm) {
    //     display: none;
    // }
    
    &_desktop {
        display: block;
        @include MQlite(max, md) {
            display: none;
        }
    }
    
    &_mobile {
        display: none;
        @include MQlite(max, md) {
            display: flex;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            justify-content: center;
            transition: transform .5s ease, opacity .5s ease;
            transform: translateY(50px);
            opacity: 0;
            
            .menu-open & {
                transition-delay: 1s;
                transform: translateY(0);
                opacity: 1;
                will-change: opacity, transfrom;
            }
        }
    }
    
    &__flag,
    &__icon {
        width: 45px;
        height: 31px;
        border: 1px solid #f1f1f1;
    }
    
    &__current {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 15px 0 0;
        justify-content: center;
        align-items: center;
        color: var(--second-color);
        cursor: pointer;
        transition: color 0.5s ease, opacity 0.3s ease;
        
        @include MQlite(min, md) {
            .single-models & {
                color: rgba(255, 255, 255, 1);
            }
        }
        
        &::after {
            width: 12px;
            height: 12px;
            margin: auto;
            top: 0;
            right: 5px;
            bottom: 0;
            background: var(--second-color);
            transition: all 0.3s ease-in-out;
            mask: url("../icons/source/arrow.svg") no-repeat center / 100%;
            @include pseudo;
            
            @include MQlite(min, md) {
                .single-models & {
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }
    
    &__inner {
        visibility: hidden;
        width: 100%;
        padding: 0 5px;
        position: absolute;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        transform: translateY(30px);
        opacity: 0;
    }
    
    &__item {
        @include MQlite(max, md) {
            padding: 0 15px;
            &:not(:last-child) {
                border-right: 1px solid var(--three-color-lite);
            }
        }
    }
    
    &__link {
        display: flex;
        padding: 5px;
        color: var(--second-color);
        text-decoration: none;
        transition: opacity 0.3s ease;
        opacity: 1;
        @include MQlite(max, md) {
            font-size: 30px;
            color: var(--three-color-lite);
            &.is-active {
                color: var(--second-color);
            }
        }
        @include MQlite(min, md) {
            .single-models & {
                color: rgba(255, 255, 255, 1);
            }
        }
        
        &:hover {
            opacity: 0.4;
        }
    }
    
    &:hover {
        .lang {
            &__current {
                opacity: 0.4;
            }
        }
    }
    
    &.active {
        .lang {
            &__current::after {
                transform: scaleY(-1);
            }
            
            &__inner {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}
