.lightbox {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    z-index: 99;
    top: 0;
    right: 0;
    background: rgba(var(--color-rgba-revert), 0.6);
    user-select: none;
    transition: all 0.5s ease;
    transform: scale(1.3);
    opacity: 0;
    backdrop-filter: blur(10px);
    @include size(100%);
    
    &__close {
        position: absolute;
        z-index: 5;
        top: 102px;
        right: 100px;
        cursor: pointer;
        @include size(48px);
        
        @include MQlite(max, md) {
            top: 32px;
            right: 16px;
            @include size(32px);
        }
        
        &::before,
        &::after {
            width: 100%;
            height: 5px;
            background: var(--three-color);
            @include pseudo;
        }
        
        &::before {
            transform: rotate(-45deg);
        }
        
        &::after {
            transform: rotate(45deg);
        }
    }
    
    &__inner {
        display: flex;
        //visibility: visible;
        padding-top: 64px;
        padding-bottom: 64px;
        position: relative;
        align-items: center;
        flex-direction: column;
        transition: visibility .3s ease, opacity .3s ease;
        //opacity: 1;
        @include size(100%);
        
        .loading & {
            visibility: hidden;
            opacity: 0;
        }
    }
    
    &__image {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    
    &__gallery {
        flex-grow: 1;
        @include size(100%);
    }
    
    &__thumb-wrap {
        display: flex;
        width: 100%;
        height: auto;
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 0;
        align-items: center;
    }
    
    &__thumbs {
        width: calc(100% - 160px);
        // width: 100%;
        padding-bottom: calc((100% - 160px) / 8 + 20px);
        margin-right: 80px;
        margin-left: 80px;
        position: relative;
        @include MQlite(max, md) {
            width: calc(100% - 100px);
            height: 70px;
            padding-bottom: 0;
            margin-right: 50px;
            margin-left: 50px;
        }
        
        .lightbox__slide {
            position: relative;
            
            &::before {
                width: 100%;
                z-index: 10;
                top: -20px;
                right: 0;
                bottom: 0;
                border: 4px solid $white;
                box-sizing: border-box;
                transition: opacity 0.3s ease;
                @include pseudo;
                opacity: 0;
                @include MQlite(max, md) {
                    top: 0;
                }
            }
            
            &.swiper-slide-thumb-active {
                &::before {
                    opacity: 1;
                }
                
                .lightbox__image {
                    height: calc(100% + 20px);
                    max-height: calc(100% + 20px);
                    top: -20px;
                    @include MQlite(max, md) {
                        height: 100%;
                        top: 0;
                    }
                }
            }
        }
        
        .lightbox__image {
            display: block;
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
            transition: top 0.3s, border-width 0.3s, height 0.3s, max-height 0.3s;
            object-fit: cover;
        }
    }
    
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &.active {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: auto;
    bottom: 114px;
    background: url("../icons/source/arrow.svg") center / 100% no-repeat;
    transform-origin: 50% 50%;
    @include MQlite(max, md) {
        bottom: 68px;
    }
    
    .dark &,
    .grey & {
        filter: grayscale(1) invert(1);
    }
    
    &:after {
        display: none;
    }
}

.swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
    @include MQlite(max, md) {
        // left: 40px;
    }
}

.swiper-button-next {
    right: 20px;
    transform: rotate(-90deg);
    @include MQlite(max, md) {
        // right: 40px;
    }
}

// .swiper-container-free-mode > .swiper-wrapper.lightbox__thumb-wrap {
//     margin-left: 80px;
//     margin-right: 80px;
// }
