
.loadmore {
    display: flex;
    width: max-content;
    align-items: center;
    font-size: 1.4rem;
    color: var(--second-color);
    cursor: pointer;
    user-select: none;
    transition: color .5s ease;
    
    &.disabled {
        pointer-events: none;
        
        .loadmore__icon {
            animation: load 1s ease infinite both;
        }
    }
    
    &_models {
        margin: 20px auto 40px;
    }
    
    &_blog {
        margin: 20px auto 0;
    }
    
    &_comments {
        margin: 30px 0 0;
    }
    
    &__icon {
        margin: 0 15px 0 0;
        transition: transform 1s ease, fill .5s ease;
        fill: currentColor;
        @include size(36px);
    }
    
    //&:hover {
    //    .loadmore {
    //        &__icon {
    //            transform: rotate(380deg);
    //        }
    //    }
    //}
}

@keyframes load {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(380deg);
    }
}
