.logo {
    display: block;
    width: 135px;
    height: 56px;
    color: var(--second-color);
    transition: color .5s ease, filter .5s ease;
    filter: var(--filter-icons-invert);
    
    @include MQlite(max, md) {
        margin: 4px 10px;
        @include size(48px);
    }
    @include MQlite(max, md) {
        width: 115px;
        height: 60px;
        padding: 0 14px;
        margin: 0;
    }
    
    @include MQlite(min, md) {
        &_white {
            color: $white;
        }
    }
    
    &__icon {
        display: block;
        fill: currentColor;
        @include size(100%)
    }
    
    &_footer {
        @include MQ(md) {
            margin: 0 0 30px;
        }
        
        @include MQ(sm) {
            width: 124px;
            height: 49px;
            padding: 0;
            margin: 0 0 30px;
        }
        
        @include MQ(xs) {
            width: 173px;
            height: 74px;
            padding: 0;
            margin: 0 0 20px;
        }
    }
}
