.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    @include size(100%);
    
    @include MQlite(max, md) {
        visibility: hidden;
        padding: 90px 0 30px;
        position: fixed;
        z-index: 7;
        top: 0;
        right: 0;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        overflow-y: auto;
        background: var(--primary-color);
        transition: opacity .5s ease, visibility .5s ease;
        opacity: 0;
        
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    
    &_primary,
    &_second {
        
        li {
            padding: 0 10px;
            position: relative;
            
            a {
                display: block;
                width: 100%;
                font-size: 1.15rem;
                color: var(--second-color);
                text-decoration: none;
                transition: color .5s ease, opacity .3s ease;
                opacity: 1;
                
                @include MQlite(min, md) {
                    &::before {
                        width: 100%;
                        height: 2px;
                        right: 0;
                        bottom: -2px;
                        background: var(--second-color);
                        transition: background .5s ease, transform .3s ease;
                        transform: scaleX(0);
                        @include pseudo;
                    }
                    
                    &:hover {
                        
                        &::before {
                            transform: scaleX(1);
                        }
                    }
                }
                
                @include MQ(md) {
                    font-size: 1rem;
                }
                
                @include MQ(xs) {
                    padding: 0 40px;
                    font-size: 1.6rem;
                }
            }
        }
    }
    
    &_primary {
        @include MQlite(max, md) {
            flex-direction: column;
            flex-shrink: 0;
        }
        
        li {
            @include MQlite(max, md) {
                padding: 0;
                margin: 0 0 25px;
                transition: transform .5s ease, opacity .5s ease;
                transform: translateY(50px);
                opacity: 0;
                
                
                .navigation.active & {
                    transform: translateY(0);
                    opacity: 1;
                    will-change: opacity, transform;
                    
                    @for $i from 1 through 15 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{$i * .1}s;
                        }
                    }
                }
                
                a {
                    @include MQ(sm) {
                        padding: 0 40px;
                        font-size: 2.9rem;
                    }
                }
            }
        }
    }
    
    @include MQlite(min, md) {
        
        &_gradient {
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, var(--second-color) 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            li {
                position: static;
                
                a {
                    
                    &::before {
                        display: none;
                    }
                }
            }
        }
        
        &_gradient-variable {
            background: linear-gradient(90deg, var(--second-color) 65%, rgba(255, 255, 255, 1) 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            li {
                position: static;
                
                a {
                    
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    
    &_second {
        margin: 0 0 15px;
        @include MQ(xs) {
            flex-direction: column;
        }
        
        li {
            padding: 0;
            
            a {
                @include MQ(md) {
                    font-size: 1.2rem;
                }
                
                @include MQ(xs) {
                    padding: 0 0 25px;
                }
            }
        }
    }
    
    &_additionally {
        justify-content: flex-end;
        
        @include MQ(sm) {
            justify-content: flex-end;
            align-items: center;
        }
        
        @include MQ(xs) {
            justify-content: flex-start;
            flex-direction: column;
        }
        
        li {
            margin: 0 0 0 30px;
            list-style-type: none;
            @include MQ(sm) {
                margin: 0 0 0 15px;
            }
            
            @include MQ(xs) {
                margin: 10px 0 0;
            }
            
            &:first-child {
                margin: 0;
            }
            
            a {
                font-size: .9rem;
                color: var(--three-color-lite);
                text-decoration: none;
                transition: color .5s ease;
                
                @include MQ(sm) {
                    font-size: .8rem;
                }
                
                @include MQ(xs) {
                    font-size: 1rem;
                }
                
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
