@include MQlite(max, md) {
    .panel {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 0 115px 0 0;
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        background: var(--primary-color);
        transition: background .5s ease;
    }
}
