$hoverColor: rgba(0, 0, 0, 0.05) !default;
$greyText: #999 !default;
$greyBorder: #ccc !default;

$flagHeight: 15px !default;
$flagWidth: 20px !default;
$flagPadding: 20px !default;

$borderWidth: 1px !default;

$arrowHeight: 4px !default;
$arrowWidth: 6px !default;
$triangleBorder: 3px !default;
$arrowPadding: 6px !default;
$arrowColor: #555 !default;

$inputPadding: 6px !default;
$selectedFlagWidth: $flagWidth + (2 * $flagPadding) !default;
$selectedFlagArrowWidth: $flagWidth + $flagPadding + $arrowWidth + (2 * $arrowPadding) !default;

$flagsImagePath: "../images/" !default;
$flagsImageName: "flags" !default;
$flagsImageExtension: "png" !default;

$mobilePopupMargin: 30px !default;

.iti {
    display: inline-block;
    position: relative;
    
    * {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    &__hide {
        display: none;
    }
    
    &__v-hide {
        visibility: hidden;
    }
    
    input, input[type=text], input[type=tel] {
        position: relative;
        z-index: 0;
    }
    
    &__flag-container {
        padding: $borderWidth;
        top: 0;
        right: 0;
        bottom: 0;
        
    }
    
    &__selected-flag {
        display: flex;
        height: 100%;
        padding: 0 $arrowPadding 0 $flagPadding;
        position: relative;
        z-index: 1;
        align-items: center;
        color: var(--second-color);
        
        .form_contact &,
        .form_calendar &,
        .popup & {
            color: var(--primary-color-revert);
        }
    }
    
    &__arrow {
        width: 0;
        height: 0;
        margin-left: $arrowPadding;
        border-top: $arrowHeight solid var(--second-color);
        border-right: $triangleBorder solid transparent;
        border-left: $triangleBorder solid transparent;
        
        .form_contact &,
        .form_calendar &,
        .popup & {
            border-top: $arrowHeight solid var(--primary-color-revert);
        }
        
        &--up {
            border-top: none;
            border-bottom: $arrowHeight solid var(--second-color);
            
            .form_contact &,
            .form_calendar &,
            .popup & {
                border-top: none;
                border-bottom: $arrowHeight solid var(--primary-color-revert);
            }
        }
    }
    
    &__country-list {
        width: calc(100% + 2px);
        max-height: 300px;
        padding: 0;
        margin: 1px 0 0 -2px;
        position: absolute;
        z-index: 3;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: var(--second-color-invert);
        text-align: left;
        white-space: nowrap;
        border: 1px solid var(--three-color);
        list-style: none;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        
        &--dropup {
            margin-bottom: (-$borderWidth);
            bottom: 100%;
        }
        
        .popup & {
            max-height: 160px;
        }
        
        .form_contact &,
        .form_calendar &,
        .popup & {
            background-color: var(--second-color);
            border-color: var(--primary-color-revert);
        }
        
        &::-webkit-scrollbar {
            width: 6px;
            height: 3px;
            background: rgba(var(--color-rgba), .1);
        }
        
        &::-webkit-scrollbar-button {
            height: 0;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-track-piece {
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: var(--primary-color-invert);
            border-left: 1px solid rgba(var(--color-rgba-revert), .1);
            
            .form_contact &,
            .form_calendar &,
            .popup & {
                background-color: var(--primary-color-revert);
            }
        }
        
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        
        &::-webkit-resizer {
            background-color: transparent;
        }
        
        @media (max-width: 500px) {
            white-space: normal;
        }
        
        -webkit-overflow-scrolling: touch;
    }
    
    &__flag-box {
        display: inline-block;
        width: $flagWidth;
    }
    
    &__divider {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: $borderWidth solid $greyBorder;
    }
    
    &__country {
        padding: 12px 10px;
        font-size: .9rem;
        color: var(--primary-color-invert);
        outline: none;
        
        .form_contact &,
        .form_calendar &,
        .popup & {
            color: var(--primary-color-revert);
        }
    }
    
    &__dial-code {
        color: $greyText;
    }
    
    &__country.iti__highlight {
        background-color: $hoverColor;
    }
    
    &__flag-box, &__country-name, &__dial-code {
        vertical-align: middle;
    }
    
    &__flag-box, &__country-name {
        margin-right: 6px;
    }
    
    
    &--allow-dropdown, &--separate-dial-code {
        input, input[type=text], input[type=tel] {
            padding-left: 17px !important;
            border: none;
        }
        
        .iti__flag-container {
            right: auto;
            left: 0;
        }
    }
    
    &--allow-dropdown {
        display: flex;
        border: 1px solid var(--three-color);
        
        .form_contact &,
        .form_calendar &,
        .popup & {
            border: 1px solid var(--primary-color-revert);
        }
        
        .iti__flag-container:hover {
            cursor: pointer;
            
            .iti__selected-flag {
                background-color: $hoverColor;
            }
        }
        
        input[disabled] + .iti__flag-container:hover,
        input[readonly] + .iti__flag-container:hover {
            cursor: default;
            
            .iti__selected-flag {
                background-color: transparent;
            }
        }
    }
    
    &--separate-dial-code {
        .iti__selected-dial-code {
            margin-left: $arrowPadding;
        }
    }
    
    &--container {
        padding: $borderWidth;
        position: absolute;
        z-index: 1060;
        top: -1000px;
        left: -1000px;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.iti-mobile .iti {
    &--container {
        position: fixed;
        top: $mobilePopupMargin;
        right: $mobilePopupMargin;
        bottom: $mobilePopupMargin;
        left: $mobilePopupMargin;
    }
    
    &__country-list {
        width: 100%;
        max-height: 100%;
    }
    
    &__country {
        padding: 10px 10px;
        line-height: 1.5em;
    }
}


@import "flags-sprite";
.iti__flag {
    height: $flagHeight;
    background-color: #dbdbdb;
    background-image: url("#{$flagsImagePath}#{$flagsImageName}.#{$flagsImageExtension}");
    background-repeat: no-repeat;
    background-position: $flagWidth 0;
    box-shadow: 0px 0px 1px 0px #888;
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url("#{$flagsImagePath}#{$flagsImageName}@2x.#{$flagsImageExtension}");
    }
}

.iti__flag.iti__np {
    background-color: transparent;
}

