.preloader {
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--primary-color);
    transition: all .3s ease;
    transform: scale(1.5);
    opacity: 0;
    will-change: transform, opacity, visibility;
    @include size(100%);
    
    &_load {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
        
    }
    
    &__part {
        display: flex;
        margin: 0 20px;
        justify-content: space-between;
        color: var(--second-color);
        will-change: animation;
        @include size(200px);
        @include MQ(sm) {
            margin: 0 10px;
            @include size(100px);
        }
        
        @include MQ(xs) {
            margin: 0 5px;
            @include size(50px);
        }
        
        &:first-child {
            
            flex-direction: column;
            transform-origin: right;
            animation: path-x .5s ease-in-out;
            animation-direction: reverse;
            animation-fill-mode: forwards;
            
            span,
            &::before,
            &::after {
                display: block;
                width: 100%;
                height: 40px;
                background: currentColor;
                content: '';
                @include MQ(sm) {
                    height: 20px;
                }
                @include MQ(xs) {
                    height: 10px;
                }
            }
        }
        
        &:last-child {
            flex-direction: row;
            transform-origin: bottom;
            animation: path-y .5s .5s ease-in-out;
            animation-direction: reverse;
            opacity: 0;
            animation-fill-mode: forwards;
            
            span,
            &::before,
            &::after {
                display: block;
                width: 40px;
                height: 100%;
                background: currentColor;
                content: '';
                @include MQ(sm) {
                    width: 20px;
                }
                @include MQ(xs) {
                    width: 10px;
                }
            }
        }
    }
}


@keyframes path-x {
    0% {
        transform: translateX(0) scaleX(1);
    }
    50% {
        transform: translateX(0) scaleX(10);
    }
    
    100% {
        transform: translateX(-2000px) scaleX(10);
    }
}

@keyframes path-y {
    0% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
    50% {
        transform: translateY(0) scaleY(10);
        opacity: 1;
    }
    
    100% {
        transform: translateY(-2000px) scaleY(10);
        opacity: 1;
    }
    
}
