.rating {
    display: flex;
    align-items: center;
    color: var(--second-color);
    transition: color .5s ease;
    
    &_invert {
        color: var(--primary-color-revert);
    }
    
    &__label {
        margin: 0 10px 0 0;
    }
    
    &__items {
        display: flex;
    }
    
    &__item {
        margin: 0 2px;
        color: transparent;
        cursor: pointer;
        @include size(22px);
        
        &.active {
            color: currentColor;
        }
    }
    
    &__icon {
        transition: stroke .5s ease;
        fill: currentColor;
        stroke-width: 1.5px;
        stroke: var(--second-color);
        @include size(100%);
        
        .rating_invert & {
            stroke: var(--primary-color-revert);
        }
    }
}