html {
    &.white {
        --primary-color: #fff;
        --primary-color-revert: #fff;
        --primary-color-invert: #1a1a1a;
        --primary-color-rgba: rgba(255, 255, 255, .9);
        --primary-color-rgba-invert: rgba(255, 255, 255, .8);
        --primary-color-rgba-revert: rgba(26, 26, 26, .9);
        --primary-color-contrast: #212121;
        
        --second-color: #1a1a1a;
        --second-color-rgba: rgba(26, 26, 26, .9);
        --second-color-invert: #fff;
        
        --three-color: #9c9c9c;
        --three-color-lite: #b1b1b1;
        --three-color-light: #edf0f0;
        
        --color-rgba: 0, 0, 0;
        --color-rgba-invert: 0, 0, 0;
        --color-rgba-revert: 255, 255, 255;
        
        --color-rgba-white: 255, 255, 255;
        --filter-icons-invert: invert(0) grayscale(100%);
    }
    
    &.grey {
        --primary-color: #949999;
        --primary-color-revert: #1a1a1a;
        --primary-color-invert: #1a1a1a;
        --primary-color-rgba: rgba(148, 153, 153, .8);
        --primary-color-rgba-invert: rgba(255, 255, 255, .8);;
        --primary-color-rgba-revert: rgba(26, 26, 26, .9);
        --primary-color-contrast: #212121;
        
        --second-color: #fff;
        --second-color-rgba: rgba(255, 255, 255, .8);
        --second-color-invert: #fff;
        
        --three-color: #fff;
        --three-color-lite: #d6d6d6;
        --three-color-light: #9fa3a3;
        
        --color-rgba: 0, 0, 0;
        --color-rgba-invert: 255, 255, 255;
        --color-rgba-revert: 0, 0, 0;
        
        --color-rgba-white: 169, 169, 169;
        --filter-icons-invert: invert(100%) grayscale(100%)
    }
    
    &.dark {
        --primary-color: #1a1a1a;
        --primary-color-revert: #1a1a1a;
        --primary-color-invert: #fff;
        --primary-color-rgba: rgba(26, 26, 26, .9);
        --primary-color-rgba-invert: rgba(26, 26, 26, .9);
        --primary-color-rgba-revert: rgba(255, 255, 255, .8);
        --primary-color-contrast: #f4f8f8;
        
        --second-color: #fff;
        --second-color-rgba: rgba(255, 255, 255, .8);
        --second-color-invert: #1a1a1a;
        
        --three-color: #fff;
        --three-color-lite: #949494;
        --three-color-light: #272626;
        
        --color-rgba: 255, 255, 255;
        --color-rgba-invert: 255, 255, 255;
        --color-rgba-revert: 0, 0, 0;
        
        --color-rgba-white: 111, 111, 111;
        --filter-icons-invert: invert(100%) grayscale(100%);
    }
}
