.scheme-buttons {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    
    @include MQ(xs) {
        position: static;
    }
    
    &__item {
        width: 33.333%;
        padding: 12px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        
        &_white {
            background: $white;
        }
        
        &_grey {
            background: $gray-400;
            color: $white;
        }
        
        &_dark {
            background: $gray-900;
            color: $white;
        }
    }
    
    &_debug {
        width: 60px;
        height: 136px;
        padding: 10px;
        position: fixed;
        top: 100px;
        right: 0;
        flex-direction: column;
        background: black(.1);
        border-radius: 20px 0 0 20px;
        
        @include MQ(xs) {
            width: 48px;
            position: fixed;
        }
        
        .scheme-buttons {
            &__item {
                margin: 0 0 10px;
                border: 2px solid white;
                border-radius: 50%;
                box-shadow: 0 0 5px black(.5);
                @include size(32px);
                
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
