body {
    &::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background: rgba(var(--color-rgba), .1);
    }
    
    &::-webkit-scrollbar-button {
        height: 0;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: var(--second-color);
        border-left: 1px solid rgba(var(--color-rgba-revert), .1);
    }
    
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    
    &::-webkit-resizer {
        background-color: transparent;
    }
}