.search-form {
    width: 100%;
    max-width: 840px;
    padding: 40px 20px;
    position: relative;
    
    &__input {
        width: 100%;
        background: none;
        font-family: $font-primary;
        font-size: 35px;
        color: var(--second-color);
        border: none;
        border-bottom: 1px solid var(--three-color);
        border-radius: 0;
        -webkit-appearance: none;
    }
    
    &__result-wrapper {
        position: relative;
    }
    
    &__result {
        width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 24px;
        left: 0;
        overflow: auto;
        font-size: 30px;
        font-weight: 800;
        line-height: 1.33;
        color: var(--second-color);
        
        &.is-active {
            height: 220px;
        }
        
        @include MQ(xs) {
            height: auto;
        }
    }
    
    &__item {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    
}

.search-result {
    color: var(--second-color);
    
    &__title {
        font-size: 30px;
        line-height: 1.33;
        transition: color 0.3s;
        opacity: 0.7;
    }
    
    &__descr {
        font-size: 18px;
        line-height: 1.39;
        transition: color 0.3s;
    }
}

