.main {
    flex-grow: 1;
    
    &_catalog {
        padding: 70px 0 50px;
        @include MQ(xs) {
            padding: 50px 0;
        }
    }
    
    &_model {
        padding: 0 0 50px;
    }
}


.section {
    padding: 100px 0;
    position: relative;
    transition: background .5s ease;
    
    &_main {
        @include MQ(xs) {
            padding: 50px 0;
        }
    }
    
    &_welcome {
        display: flex;
        width: 100%;
        height: 100vh;
        min-height: 768px;
        margin: -116px 0 0;
        position: relative;
        z-index: 3;
        justify-content: center;
        flex-direction: column;
        
        @include MQlite(max, md) {
            height: auto;
            min-height: auto;
            padding: 110px 0 150px;
            margin: 0;
        }
        
        @include MQ(xs) {
            width: 100%;
            padding: 0;
        }
    }
    
    &_about-us {
        display: flex;
        padding-bottom: 0;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        @include MQ(xs) {
            padding-bottom: 0;
        }
    }
    
    &_models {
        &::before {
            top: -10px;
            font-size: 10vw;
        }
        
        > .container {
            position: relative;
            z-index: 2;
        }
    }
    
    &_model {
        display: flex;
        height: 100vh;
        min-height: 860px;
        padding: 116px 0 0;
        margin: -116px 0 0 0;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include MQlite(max, md) {
            height: auto;
            min-height: auto;
            padding: 0;
            margin: 0;
        }
    }
    
    &_photo-gallery {
        background: var(--second-color);
    }
    
    &_related-posts {
        background: var(--primary-color-contrast);
    }
    
    &_blog {
        overflow: hidden;
        background: var(--primary-color-contrast);
        
        &::after {
            display: block;
            width: 100%;
            height: 35%;
            position: absolute;
            top: 0;
            right: 0;
            background: var(--primary-color-invert);
            content: "";
            transition: background .5s ease;
        }
    }
    
    &_pd {
        padding: 100px 0 0;
    }
    
    &_single {
        padding: 0 0 100px;
    }
    
    &_contrast {
        background: rgba(var(--color-rgba), .1);
    }
    
    &_subscribe {
        background: rgba(var(--color-rgba), .4);
    }
    
    &_studio {
        overflow: hidden;
    }
    
    &__title {
        margin: 0 0 100px;
        position: relative;
        z-index: 2;
        font-size: 4rem;
        color: var(--second-color);
        transition: color .5s ease;
        @include MQ(xs) {
            font-size: 2.6rem;
        }
        
        &_inversion {
            color: var(--second-color-invert);
        }
        
        &_group {
            margin: 0;
        }
        
        &_center {
            text-align: center;
        }
        
        &_small-margin {
            margin: 0 0 60px;
        }
        
        &_team {
            @include MQ(xs) {
                margin-bottom: 40px;
                font-size: 70px;
            }
        }
        
        &_single-comments {
            width: max-content;
        }
        
    }
    
    &__head {
        display: flex;
        margin: 0 0 100px;
        justify-content: space-between;
        align-items: center;
        @include MQ(xs) {
            margin: 0 0 50px;
        }
    }
    
    &_description {
        background: var(--second-color);
        font-size: 1.1rem;
        line-height: 1.6;
        color: var(--primary-color-revert);
        @include MQlite(max, sm) {
            padding: 50px 0;
        }
    }
    
    &_photos {
        padding: 0;
        overflow: hidden;
    }
}