@import "./node_modules/swiper/swiper-bundle";

.slider {
    height: 100%;
    position: relative;
    @include MQlite(max, md) {
        height: auto;
    }
    
    .swiper-container {
        height: 100%;
    }
    
    &__item {
        display: block;
        height: 100%;
        @include MQ(sm) {
            height: 700px;
        }
    }
    
    &__image {
        display: block;
        object-fit: cover;
        @include size(100%);
    }
    
    &__navigation {
        width: 100px;
        height: 200px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: -100px;
        user-select: none;
        
        @include MQlite(max, md) {
            display: flex;
            width: 100%;
            height: auto;
            position: relative;
            left: 0;
            flex-direction: row-reverse;
        }
    }
    
    &__btn-next,
    &__btn-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background .5s ease;
        @include size(100px);
        
        &::before {
            display: block;
            margin: auto;
            content: '';
            mask: url("../icons/source/arrow.svg") center / 100% no-repeat;
            @include size(26px);
        }
        
        @include MQlite(max, md) {
            width: 50%;
        }
        
    }
    
    &__btn-next {
        &::before {
            background: var(--second-color);
            transform: rotate(-90deg);
        }
    }
    
    &__btn-prev {
        &::before {
            background: var(--primary-color-revert);
            transform: rotate(90deg);
        }
        
        @include MQlite(max, md) {
            background: var(--second-color);
        }
    }
}
