.social {
    display: flex;
    
    &_abs {
        position: absolute;
        bottom: 200px;
        left: 100px;
        flex-direction: column;
        @include MQ(md) {
            left: 5%;
        }
        
        @include MQlite(max, md) {
            display: none;
        }
    }
    
    &_model {
        flex-direction: column;
        @include MQlite(max, sm) {
            flex-direction: row;
        }
    }
    
    &_static {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        
        @include MQ(xs) {
            margin: 0 0 20px;
            justify-content: flex-start;
        }
    }
    
    &_start {
        margin: 0 0 30px;
        justify-content: flex-start;
    }
    
    &_header {
        display: none;
        @include MQlite(max, md) {
            display: flex;
            width: 100%;
            height: auto;
            margin-top: auto;
            margin-bottom: 10px;
            justify-content: center;
            flex-shrink: 0;
            transition: transform .5s ease, opacity .5s ease;
            transform: translateY(50px);
            opacity: 0;
            .menu-open & {
                transition-delay: .9s;
                transform: translateY(0);
                opacity: 1;
                will-change: transfrom, opacity;
            }
        }
    }
    
    &__item {
        padding: 10px;
        margin: 0 0 20px;
        background: white(.3);
        background: rgba(var(--color-rgba), .2);
        border-radius: 50%;
        transition: background .5s ease, filter .5s ease, opacity .3s ease;
        opacity: 1;
        @include size(42px);
        
        .social_model & {
            color: var(--second-color);
        }
        
        .social_header & {
            @include MQlite(max, md) {
                margin: 0 10px 20px;
            }
        }
        
        &_small {
            padding: 7px;
            margin: 0 10px 0 0;
            @include size(32px);
            
            &:last-child {
                margin: 0;
            }
        }
        
        &:hover {
            color: var(--three-color);
            opacity: .8;
            
            .social_model & {
                color: var(--three-color-lite);
            }
        }
        
    }
    
    &__icon {
        fill: currentColor;
        filter: invert(100%) grayscale(100%);
        @include size(100%);
    }
}
