.stroke-placeholder {
    position: absolute;
    z-index: 2;
    left: 0;
    font-size: 5.5vw;
    color: transparent;
    user-select: none;
    transition: all .5s ease;
    opacity: .1;
    -webkit-text-stroke: 1.5px var(--second-color);
    
    &_inversion {
        -webkit-text-stroke-color: var(--second-color-invert);
    }
    
    &_large {
        @include MQ(xs) {
            font-size: 27vw;
        }
    }
    
    &_welcome {
        width: 100%;
        top: 0;
        font-size: 15.3rem;
        color: white(.5);
        text-align: center;
        white-space: nowrap;
        
        @include MQ(md) {
            font-size: 12rem;
        }
        
        @include MQ(sm) {
            font-size: 9.5rem;
        }
        
        @include MQ(xs) {
            display: none;
        }
    }
    
    &_about-us {
        top: -80px;
        left: -10px;
        font-size: 13rem;
        
        @include MQ(md) {
            font-size: 11rem;
        }
        
        @include MQ(sm) {
            left: 0;
            font-size: 8rem;
        }
        
        @include MQ(xs) {
            top: -89px;
            left: 0;
            font-size: 6rem;
            text-align: left;
        }
    }
    
    &_models {
        padding: 0 10px;
        top: -80px;
        font-size: 10.2rem;
        
        @include MQ(md) {
            top: -65px;
            font-size: 9rem;
        }
        
        @include MQ(sm) {
            top: -35px;
            font-size: 6.5rem;
        }
        
        @include MQ(xs) {
            top: -4px;
            font-size: 2.6rem;
        }
    }
    
    &_blog {
        top: -66px;
        font-size: 13rem;
        @include MQ(sm) {
            top: -42px;
            font-size: 9rem;
        }
        @include MQ(xs) {
            top: -40px;
            font-size: 7rem;
        }
    }
    
    &_catalog {
        top: -75px;
        font-size: 16rem;
        @include MQ(sm) {
            top: -42px;
            font-size: 9rem;
        }
        @include MQ(xs) {
            top: 10px;
            font-size: 6rem;
        }
    }
    
    &_studio {
        top: -45px;
        font-size: 14rem;
        @include MQ(sm) {
            top: -42px;
            font-size: 9rem;
        }
        @include MQ(xs) {
            top: 10px;
            font-size: 6rem;
        }
    }
    
    
    &_reviews {
        @include MQ(xs) {
            top: 3px;
            font-size: 5rem;
        }
    }
    
    &_contacts {
        z-index: 1;
        top: -66px;
        font-size: 13rem;
        @include MQ(xs) {
            font-size: 5.6rem;
        }
    }
    
    &_instagram {
        padding: 0 10px;
        top: -3vw;
        font-size: 10.2rem;
        -webkit-text-stroke: 1.5px #c3996b;
        @include MQlite(max, md) {
            font-size: 17vw;
        }
    }
    
    &_favorites {
        top: -66px;
        font-size: 13rem;
        @include MQ(sm) {
            top: 0;
            font-size: 9rem;
        }
        @include MQ(xs) {
            top: 15px;
            font-size: 5rem;
        }
    }
}
