.up-btn {
    position: fixed;
    bottom: 40px;
    right: 0;
    background: var(--second-color);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    @include size(56px);
    transition: all .5s ease;
    z-index: 4;
    padding: 10px;
    &.active {
        transform: translateX(0);
    }
    
    &__icon {
        fill: var(--primary-color-revert);
        @include size(100%);
    }
}