@import "preloader";
@import "scrollbar";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--primary-color);
    font-family: $font-primary;
    transition: background .5s ease;
    
    &.menu-open,
    &.filter-open,
    &.popup-open,
    &.hidden {
        overflow: hidden;
    }
    
    &.preload * {
        transition: none;
    }
}

@import "header";
@import "sections";
@import "logo";
@import "panel";
@import "btn-menu";
@import "navigation";
@import "lang-switcher";
@import "buttons";
@import "button";
@import "scheme-buttons";
@import "button-favorite";
@import "cookie-popup";
@import "chats-button";
@import "social";
@import "breadcrumbs";
@import "stroke-text-placeholder";
@import "loadmore";
@import "slider";
@import "lightbox";
@import "form";
@import "phone-mask";
@import "become-model-form";
@import "form-popup";
@import "search";
@import "up-btn";
@import "rating";
@import "footer";