+b('form').form
        .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                +e.field
                    +e('label').label(for="abb-name") Фио
                    +e('input').input(id="abb-name" name="abb-name" type="text")

                +e.field
                    +e('label').label(for="email") Email
                    +e('input').input(id="email" name="email" type="text")

            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                +e.field
                    +e('label').label(for="review") Отзыв
                    +e('textarea').textarea(id="review" name="review")
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                +e.interactive
                        +e.buttons
                            +e.photo-block
                               +e('button').photo
                                    +icon('user-stroke', 'form__photo-icon')
                               +e.add-photo Добавить фото
                            +e.rating
                               +e('span').rate Оценка:
                               +e.value
                                    +loop(5)
                                        +e.star
                                            +icon('star-stroke', 'form__star-icon')
                        +e.field.submit
                           +e('button') Отправить

