+b.review
    +e.thumbnail
        +e('img').image(src=item.photo alt=item.name)
    +e.review-info
        +e.detail
            +e.name #{item.name}
            +e.value
                +loop(item.rating)
                    +e.star
                        +icon('star-stroke', 'review__star-icon')
                +loop(5-item.rating)
                    +e.star
                        +icon('star-stroke', 'review__star-icon stroke')

        +e('p').text #{item.text}
