+b('section').section._instagram
	+b.grid-container
		+b.inst-grid
			//+e.layer
			//	+e.item
			//		+e.title
			//			| Follow us
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer._link
				+e.item
					+e('a').link(href="")
						+icon('instagram-icon', 'inst-grid__icon')
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer
				+e.item
			+e.layer
				+e.item
		.s-instagram-scroller
