+b('section').section(class=isFrontPage ? '_about-us' : '')
	.container.full-xs
		if isFrontPage
			+b('span').stroke-placeholder._about-us About agency
		.row.full-xs
			.col-lg-5.col-md-5.col-sm-6.col-xs-12.full-xs
				+b.image-about
					img(src="assets/images/about-image.jpg")
			.col-lg-7.col-md-7.col-sm-6.col-xs-12
				+b.info
					+e.title Об агентстве
					+e.content
						p Добро пожаловать на официальный сайт модельного агентства Ego Modals! Рады вас приветствовать!
						p Наверно, сейчас самое время написать что мы ведущее модельное агентство Украины, обладаем многотысячной базой моделей и отличаемся завидным профессионализмом...Еще можно перечислить наши 5 (десять, двадцать) достоинств.
						p Указать, почему именно МЫ, и чем мы уникальны. Но..! данный текст слишком шаблонный и очень похож на аналогичные описания многих модельных агентств. Поэтому мы оставляем возможность ВАМ самостоятельно сформировать свое мнение о нас, просмотрев разделы "Модели" и "Новости".
						p Для тех, кто все-таки считает, что профессиональное модельное агентство должно предоставить конкретику, мы озвучим несколько фактов и главных принципов нашей работы.
