+b('section').section._blog
	.container
		+b('span').stroke-placeholder._blog._inversion Blog
		+e('h2').title._inversion Блог
		+b.grid
			each article, index in blog
				+e.item
					include ../blog/article-card
			+e.item._more
				+b('a').button(href="#")
					+icon('plus', 'button__icon button__icon_invert')
					+e('span').name._invert._caps Показать еще
