+b('section').section._welcome
	.container.full-xs
		+b('span').stroke-placeholder._welcome Ego models
		+b.category-selection
			+e.info
				+e('a').title(href="#") Models
				+e('ul').list
					each link in gender_menu.woman
						li
							a(href=link.url) #{link.name}
	+b.social._abs
		+e('a').item(href="")
			+icon('facebook-round', 'social__icon')
		+e('a').item(href="")
			+icon('instagram', 'social__icon')
		+e('a').item(href="")
			+icon('youtube', 'social__icon')
		+e('a').item(href="")
			+icon('m', 'social__icon')
	+b.scheme-buttons
		+e.item._white(data-scheme="white") White
		+e.item._grey(data-scheme="grey") Grey
		+e.item._dark(data-scheme="dark") Black
