.card-profile {
    display: flex;
    padding: 36px 0 10px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    
    &_small {
        padding: 36px 5px 10px;
    }
    
    &__inner {
        margin: 0 0 20px;
        position: relative;
    }
    
    &__new {
        display: block;
        padding: 10px 15px;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 0;
        background: $black;
        font-size: 1rem;
        color: $white;
        @include MQlite(max, md) {
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;
        }
    }
    
    &__model-icon {
        width: 30px;
        height: 13px;
        fill: $white;
    }
    
    &__remove {
        position: absolute;
        top: 20px;
        right: 20px;
        background: red;
        @include size(42px);
        
    }
    
    @include MQlite(max, md) {
        &__more-info {
            width: 60px;
            height: 35px;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            background: black(.3);
            
            &::before,
            &::after {
                transition: transform .3s ease, opacity .3s ease;
            }
            
            &::before {
                background: $white;
                transform: scale(1) rotate(0);
                opacity: 1;
                mask: url('../icons/source/dots.svg');
                mask-size: 60%;
                mask-position: center;
                mask-repeat: no-repeat;
                @include pseudo;
                @include size(100%);
            }
            
            &::after {
                background: $white;
                transform: scale(0) rotate(-90deg);
                opacity: 0;
                mask: url('../icons/source/close.svg');
                mask-size: 30%;
                mask-position: center;
                mask-repeat: no-repeat;
                @include pseudo;
                @include size(100%);
            }
            
            &.active {
                
                &::before {
                    transform: scale(0) rotate(90deg);
                    opacity: 0;
                }
                
                &::after {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }
            }
        }
    }
    
    &__photo {
        display: block;
        width: 100%;
        height: 365px;
        position: relative;
        z-index: 1;
        text-decoration: none;
        @include MQ(md) {
            height: 310px;
        }
        
        @media all and (max-width: 550px) {
            height: 250px;
        }
        
    }
    
    &__image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
        @include size(100%);
        
        $z-index: 5;
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                z-index: #{$z-index};
            }
            $z-index: $z-index - 1;
        }
        
        &:not(:first-child) {
            opacity: 0;
        }
    }
    
    &__name {
        display: block;
        margin: 0 0 20px;
        font-size: 1.8rem;
        color: var(--second-color);
        transition: color .5s ease;
        
        @include MQ(md) {
            font-size: 1.2rem;
        }
        
        @include MQ(xs) {
            margin: 0;
            font-size: 1rem;
        }
    }
    
    &:hover {
        @include MQlite(min, md) {
            .params {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}


.params {
    display: flex;
    visibility: hidden;
    font-size: .9rem;
    transition: all .3s ease;
    opacity: 0;
    
    @include MQlite(max, md) {
        visibility: hidden;
        width: 100%;
        height: 365px;
        padding: 40px;
        position: absolute;
        z-index: 2;
        justify-content: center;
        align-items: center;
        background: black(.5);
        transform: scaleY(0);
        transform-origin: center;
        opacity: 0;
        backdrop-filter: blur(10px);
        
        @include MQ(xs) {
            padding: 25px;
        }
        
        &.active {
            visibility: visible;
            transform: scaleY(1);
            opacity: 1;
        }
    }
    
    @include MQlite(min, md) {
        transform: translateY(20px);
        transform-origin: top;
    }
    
    @media all and (max-width: 550px) {
        height: 250px;
    }
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        @include MQlite(max, md) {
            width: max-content;
            flex-direction: column;
        }
    }
    
    &__item {
        margin: 0 0 15px;
        color: var(--second-color);
        transition: color .5s ease;
        
        @include MQlite(max, md) {
            width: 100%;
            margin: 0 0 10px;
            font-size: 1.1rem;
            color: $white;
        }
        
        @include MQlite(max, sm) {
            font-size: 1rem;
        }
        
        @include MQlite(min, md) {
            width: 33.333%;
        }
    }
    
    &__label {
        margin: 0 5px 0 0;
        text-transform: capitalize;
    }
}


.label {
    display: flex;
    width: 100%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    
    &__name {
        margin: 0 10px 0 0;
        color: var(--second-color);
        transition: color .5s ease;
        @include MQ(xs) {
            font-size: .9rem;
        }
    }
    
    &__icon {
        transition: fill .5s ease;
        fill: var(--second-color);
        @include size(26px);
        @include MQ(xs) {
            @include size(22px);
        }
    }
}


.button-card {
    $this: &;
    padding: 10px;
    position: absolute;
    z-index: 2;
    align-self: flex-end;
    background: black(.3);
    color: transparent;
    cursor: pointer;
    user-select: none;
    transition: color .3s ease;
    @include size(46px);
    
    
    &_add {
        bottom: 0;
        left: 0;
    }
    
    &_remove {
        top: 20px;
        right: 20px;
        color: $white;
        
        @include MQlite(max, md) {
            top: 0;
            right: 0;
        }
    }
    
    &__icon {
        fill: currentColor;
        @include size(100%);
        
        &_cheart {
            stroke: $white;
            stroke-width: 2px;
            
            #{$this}_static & {
                stroke: var(--second-color);
            }
        }
    }
    
    &.active {
        color: $white;
    }
    
    
    &_static {
        padding: 6px;
        margin: 0 20px 0;
        position: static;
        background: none;
        @include size(36px);
        
        &.active {
            color: var(--second-color);
        }
    }
}


.image-holder {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(var(--color-rgba), .1);
    border: 1px solid rgba(var(--color-rgba), .1);
    transition: border-color .5s ease, color .5s ease;
    
    &_blog {
        height: 600px;
        margin: -490px 0 20px;
        position: relative;
        z-index: 2;
        background: repeating-linear-gradient(-45deg, #1a1a1a, #1a1a1a 25px, #1f1f1f 25px, #1f1f1f 50px);
        color: white;
        border: 1px solid #ffffff0d;
        
        @include MQlite(max, md) {
            margin: 0 0 20px;
        }
    }
    
    &__icon {
        margin: 0 0 20px;
        fill: currentColor;
        @include size(76px);
    }
    
    &__label {
        color: currentColor;
        text-transform: uppercase;
    }
}


.grid-item {
    visibility: hidden;
    transition: transform .5s ease, opacity .5s ease, visibility .5s ease;
    transform: translateY(100px);
    opacity: 0;
    will-change: transform, visibility, opacity;
    
    &.load {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}

