@import "range-slider";

.filter-button {
    display: none;
    @include MQlite(max, md) {
        display: flex;
        padding: 30px 20px;
        margin: 0 -1rem 30px;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        color: var(--second-color);
        cursor: pointer;
        &_open {
            background: black(.1);
        }
        &::after {
            display: block;
            background: currentColor;
            content: '';
            transform: rotate(-90deg);
            mask: url('../icons/source/arrow.svg') center no-repeat;
            mask-size: 100%;
            @include size(22px);
        }
    }
    
    @include MQ(sm) {
        margin: 0 -1.8rem 30px;
    }
    
    &_close {
        @include MQlite(max, md) {
            margin: 0;
            justify-content: flex-end;
            flex-direction: row-reverse;
            &::after {
                margin: 0 10px 0 0;
                transform: rotate(90deg);
            }
        }
        @include MQ(sm) {
            margin: 0;
        }
    }
}

.filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    
    @include MQlite(max, md) {
        width: 100%;
        height: 100%;
        padding: 0 0 40px;
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        overflow-y: auto;
        background: var(--three-color-light);
        transition: transform .3s ease, visibility .3s ease;
        transform: translateX(-100%);
        &.active {
            visibility: visible;
            transform: translateX(0);
        }
    }
    
    &__content {
        background: var(--three-color-light);
        transition: background .5s ease;
    }
    
    &__block {
        padding: 0;
        border-bottom: 1px solid var(--primary-color);
        transition: border-color .5s ease;
        
        &:last-child {
            border: none;
        }
    }
    
    &__title {
        padding: 20px;
        position: relative;
        font-size: 1.4rem;
        color: var(--second-color);
        cursor: pointer;
        transition: color .5s ease;
        
        &::before {
            margin: auto;
            top: 0;
            right: 20px;
            bottom: 0;
            background: var(--second-color);
            transition: all .3s ease-in-out;
            mask: url(../icons/source/arrow.svg) no-repeat center/100%;
            @include pseudo;
            @include size(14px);
        }
        
        @include MQ(md) {
            font-size: 1.2rem;
        }
        
        &.active {
            &::before {
                transform: scaleY(-1);
            }
        }
    }
    
    &__slide {
        max-height: 0;
        overflow: hidden;
        background: transparent;
        transition: max-height .5s ease;
    }
    
    &__inner {
        padding: 0 20px 20px;
    }
    
    &__input {
        width: 100%;
        padding: 14px;
        background: transparent;
        color: var(--second-color);
        border: 1px solid var(--second-color);
        border-radius: 0;
        @include placeholder(var(--second-color), .9rem, normal);
        
        transition: all .5s ease;
    }
    
    &__scroll {
        height: 230px;
        padding: 0 5px 0 0;
        margin: 20px 0 0;
        overflow-x: auto;
        
        &::-webkit-scrollbar {
            width: 4px;
            height: 3px;
            background: none;
        }
        
        &::-webkit-scrollbar-button {
            height: 0;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-track-piece {
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: rgba(var(--color-rgba-invert), .5);
        }
        
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        
        &::-webkit-resizer {
            background-color: transparent;
        }
    }
    
    &__sub-list {
        margin: 20px 0 0 20px;
    }
    
    &__item {
        margin: 0 0 20px;
        
        &:last-child {
            margin: 0;
        }
        
        @include MQ(md) {
            margin: 0 0 15px;
        }
    }
}

.sub-block {
    margin: 0 0 20px;
    
    &:last-child {
        margin: 0;
        border: none;
    }
    
    &__title {
        margin: 0 0 20px;
        font-size: 1.1rem;
        color: var(--second-color);
        transition: color .5s ease;
    }
    
}

.rangeSlider {
    padding: 0 0 10px;
    margin: 0 0 20px;
    
    &__labels {
        display: flex;
        width: 100%;
        height: 35px;
        margin: 0 0 30px;
        justify-content: space-between;
    }
    
    &__label {
        display: flex;
        width: 60px;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: var(--primary-color);
        font-size: .9rem;
        color: var(--second-color);
        transition: background .5s ease, color .5s ease;
    }
    
    &__inner {
        width: 100%;
        padding: 0 9px;
    }
    
    .noUi-horizontal .noUi-handle {
        background: var(--primary-color);
        border: 4px solid var(--second-color);
        transition: background .5s ease, border-color .5s ease;
        box-shadow: none;
    }
    
    .noUi-connect {
        background: var(--second-color);
        transition: background .5s ease;
    }
    
    .noUi-connects::before {
        background: var(--primary-color);
        transition: background .5s ease;
    }
}

.reset-filter {
    display: flex;
    visibility: hidden;
    margin: 20px 0 0;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: var(--second-color);
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    transition: visibility .3s ease, opacity .3s ease;
    opacity: 0;
    
    &.active {
        visibility: visible;
        opacity: 1;
    }
    
    &__btn {
        margin: 0 10px 0 0;
        position: relative;
        @include size(26px);
        
        &::before,
        &::after {
            width: 100%;
            height: 3px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: currentColor;
            @include pseudo();
        }
        
        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
        }
    }
    
    &.active {
        visibility: visible;
        opacity: 1;
    }
}


.apply-filter {
    display: none;
    @include MQlite(max, md) {
        display: flex;
        width: 100%;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
        color: var(--second-color);
        text-transform: uppercase;
        
        &__icon {
            margin: 0 10px 0 0;
            position: relative;
            @include size(26px);
            
            &::before,
            &::after {
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: currentColor;
                @include pseudo;
            }
            
            &::before {
                width: 87%;
                height: 3px;
            }
            
            &::after {
                width: 3px;
                height: 87%;
            }
        }
    }
}