.noUi-target,
.noUi-target * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    touch-action: none;
}

.noUi-target {
    position: relative;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-connects {
    z-index: 0;
    
    &::before {
        width: calc(100% + 18px);
        height: 100%;
        left: -9px;
        background: $gray-300;
        @include pseudo;
    }
}

.noUi-connect,
.noUi-origin {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
}

.noUi-connect {
    width: 100%;
    height: 100%;
}

.noUi-origin {
    width: 10%;
    height: 10%;
}


.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    right: auto;
    left: 0;
}


.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.noUi-touch-area {
    width: 100%;
    height: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 6px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    top: -6px;
    right: -9px;
    border: 4px solid $black;
    border-radius: 50%;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    top: -17px;
    right: -6px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    right: auto;
    left: -17px;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
    background: $gray-300;
}


.noUi-connect {
    background: $black;
}

/* Handles and cursors;
 */
.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle {
    background: #fff;
    border: 1px solid #d9d9d9;
    cursor: default;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

/* Handle stripes;
 */
.noUi-handle:after {
    left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    top: 14px;
    left: 6px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
    background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

/* Values;
 *
 */
.noUi-value {
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.noUi-value-sub {
    font-size: 10px;
    color: #ccc;
}

/* Markings;
 *
 */
.noUi-marker {
    position: absolute;
    background: #ccc;
}

.noUi-marker-sub {
    background: #aaa;
}

.noUi-marker-large {
    background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    top: 100%;
    left: 0;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    width: 2px;
    height: 5px;
    margin-left: -1px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
    height: 100%;
    padding: 0 10px;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    padding-left: 25px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    padding: 5px;
    position: absolute;
    background: #fff;
    color: #000;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.noUi-horizontal .noUi-tooltip {
    bottom: 120%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.noUi-vertical .noUi-tooltip {
    top: 50%;
    right: 120%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
    bottom: 10px;
    left: auto;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
    top: auto;
    right: 28px;
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
}
