.sidebar {
    margin: 0 0 50px;
    position: sticky;
    z-index: 10;
    top: 30px;
    @include MQ(sm) {
        margin: 0;
        top: 80px;
    }
    @include MQ(xs) {
        margin: 0;
        position: static;
    }
}

@include MQlite(max, md) {
    div.grid-row {
        margin: -.30rem;
    }
    
    div.grid-item {
        padding: .30rem;
    }
}


.find-total {
    margin: 0 0 10px;
    color: var(--three-color);
    white-space: nowrap;
    transition: color .5s ease;
    
    span {
        font-size: 1.1rem;
        color: var(--second-color);
        transition: inherit;
    }
    
    @include MQ(xs) {
        align-self: center;
    }
}

.ajax-container {
    min-height: 225px;
    position: relative;
    
    .loading {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: self-start;
        color: var(--second-color);
        
        &__icon {
            @include size(60px);
        }
    }
}


.catalog {
    padding: 0 0 50px;
    position: relative;
    
    &__preloader {
        display: inline-block;
        width: 75px;
        height: 10px;
        margin: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .3s ease;
        opacity: 0;
        
        span {
            position: absolute;
            top: 0;
            background: var(--second-color);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            @include size(10px);
            
            &:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 0.3s infinite;
            }
            
            &:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 0.3s infinite;
            }
            
            &:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 0.3s infinite;
            }
            
            &:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 0.3s infinite;
            }
        }
    }
}


@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


@import "filter";
@import "card-profile";

