.acf-range-wrap input[type="number"] {
  min-width: 70px;
}

.shortcode-input {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccd0d4;
  outline: none;
}


.column-thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.post-type-models .wp-editor-expand {
  display: none !important;
}

.model-gallery {
  width: 50%;
  max-width: 100%;
}


.model-gallery .acf-gallery {
  min-height: 1000px;
}

#model-gallery .acf-gallery-attachment {
  width: 33%;
}